<%= form_for company_history, url: path, method: method do |form| %>
  <div class="hoja-main">
    <div class="row">
      <div class="col-12 col-lg-3">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link active bg-green" data-toggle="tab" href="#environment">Entorno específico <i class="fa fa-edit"></i></a></li>
          <li class="nav-item"><a class="nav-link bg-gray" data-toggle="tab" href="#pestel">PESTEL <i class="fa fa-edit"></i></a></li>
          <li class="nav-item"><a class="nav-link bg-red" data-toggle="tab" href="#relationship">Comentarios Relación <i class="fa fa-edit"></i> <i class="fa fa-exclamation-triangle"></i></a></li>
        </ul>
      </div>

      <div class="col-12 col-lg-9">
        <div class="tab-content">

          <div class="tab-pane active" id="environment">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Date of Service Provided</label>
                  <div class="form-inline">
                    <%= form.date_select :date_of_service_provided, {}, class: 'form-control small-field service-date company-date' %>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Client Company Mission</label>
                  <%= form.text_area :cmp_mission, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_mission'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_mission'].first, "Company Mission") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Company Vision</label>
                  <%= form.text_field :cmp_vision, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_vision'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_vision'].first, "Company Vision") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Company Values</label>
                  <%= form.text_field :cmp_values, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_values'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_values'].first, "Company Values") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label> Company Proposition</label>
                  <%= form.text_field :cmp_value_proposition, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_value_proposition'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_value_proposition'].first, " Company Proposition") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Client's Business Plan</label>
                  <%= form.text_field :cmp_business_plan, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_business_plan'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_business_plan'].first, "Client's Business Plan") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Client's HR Provider</label>
                  <%= form.text_field :cmp_hr_provider, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_hr_provider'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_hr_provider'].first, "Client's HR Provider") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Direct competitors & how they related to client</label>
                  <%= form.text_field :cmp_competitors, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_competitors'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_competitors'].first, "Clients direct competitors and how they are related to the client") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Client's organizational structure</label>
                  <%= form.text_field :cmp_organizational_structure, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_organizational_structure'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_organizational_structure'].first, "Client's organizational structure") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Client size small/big company</label>
                  <%= form.select :cmp_size, Company.cmp_sizes.keys.map{|r| [r.titleize, r]}, {}, { class: 'form-control'}   %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Number of workers</label>
                  <%= form.number_field :number_of_workers, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['number_of_workers'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['number_of_workers'].first, "Number of workers") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Work Environment Score</label>
                  <%= form.text_field :work_environment_score, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['work_environment_score'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['work_environment_score'].first, "Work Environment Score") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Workers Profile</label>
                  <%= form.text_field :workers_profile, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['workers_profile'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['workers_profile'].first, "Workers Profile") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Workers average age</label>
                  <%= form.text_field :workers_average_age, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['workers_average_age'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['workers_average_age'].first, "Workers average age") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Workers average time in the company</label>
                  <%= form.text_field :workers_average_time_in_company, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['workers_average_time_in_company'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['workers_average_time_in_company'].first, "Workers average time in the company") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Important changes in the last year merge</label>
                  <%= form.text_field :cmp_changes_in_last_year, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['cmp_changes_in_last_year'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['cmp_changes_in_last_year'].first, "Important changes in the last year merge") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Geographical state</label>
                  <%= form.text_field :geographical_state, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['geographical_state'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['geographical_state'], "Geographical state") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Geographical region</label>
                  <%= form.text_field :geographical_region, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['geographical_region'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['geographical_region'].first, "Geographical region") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>

          <div class="tab-pane" id="pestel">
            <div class="row">

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Political context</label>
                  <%= form.text_field :political_context, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['political_context'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['political_context'].first, "Political context") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Economic context</label>
                    <%= form.text_field :economic_context, class: "form-control" %>
                    <% if flash.present? %>
                      <% if flash['errors'].present? && flash['errors']['economic_context'].present?  %>
                        <p class='error'><%= company_history_error(flash['errors']['economic_context'].first, "Economic context") %></p>
                      <% end %>
                    <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Social context</label>
                  <%= form.text_field :social_context, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['social_context'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['social_context'].first, "Social context") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Technological context</label>
                  <%= form.text_field :technological_context, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['technological_context'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['technological_context'].first, "Technological context") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Environmental context</label>
                  <%= form.text_field :environmental_context, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['environmental_context'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['environmental_context'].first, "Environmental context") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Legal context</label>
                  <%= form.text_field :legal_context, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['legal_context'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['legal_context'].first, "Legal context") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="relationship">
            <div class="row">

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Description of relationship with client</label>
                  <%= form.text_field :relationship_with_client, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['relationship_with_client'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['relationship_with_client'].first, "Description of relationship with client") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Complexity of relationship with client</label>
                  <%= form.text_field :complexity_in_relationship_with_client, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['complexity_in_relationship_with_client'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['complexity_in_relationship_with_client'].first, "Complexity of relationship with client") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Primary contacts name</label>
                  <%= form.text_field :primary_contact_name, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['primary_contact_name'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['primary_contact_name'].first, "Primary contacts name") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Primary contacts phone</label>
                  <%= form.text_field :primary_contact_phone, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['primary_contact_phone'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['primary_contact_phone'].first, "Primary contacts phone") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Primary contacts cellphone</label>
                  <%= form.text_field :primary_contact_cellphone, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['primary_contact_cellphone'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['primary_contact_cellphone'].first, "Primary contacts cellphone") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Position of the primary contact</label>
                  <%= form.text_field :position_of_primary_contact, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['position_of_primary_contact'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['position_of_primary_contact'].first, "Position of the primary contact") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Primary contacts mail</label>
                  <%= form.text_field :primary_contact_email, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['primary_contact_email'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['primary_contact_email'].first, "Primary contacts mail") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Secondary contact</label>
                  <%= form.text_field :secondary_contact_name, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['secondary_contact_name'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['secondary_contact_name'].first, "Secondary contact") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Secondary contact position</label>
                  <%= form.text_field :contact_position, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['contact_position'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['contact_position'].first, "Secondary contact position") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Secondary contact mail</label>
                  <%= form.text_field :secondary_contact_email, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['secondary_contact_email'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['secondary_contact_email'].first, "Secondary contact mail") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Consultant in charge</label>
                  <%= form.text_field :consultant_charge, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['consultant_charge'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['consultant_charge'].first, "Consultant in charge") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Consultor</label>
                  <%= form.text_field :service_description, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['service_description'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['service_description'].first, "Consultor") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Consultor</label>
                  <%= form.text_field :service_complexities_while_offering, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['service_complexities_while_offering'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['service_complexities_while_offering'].first, "Consultor") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Last service provided name</label>
                  <%= form.text_field :last_service_provided_name, class: "form-control" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['last_service_provided_name'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['last_service_provided_name'].first, "Last service provided name") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Description of service offered to the client</label>
                  <%= form.text_area :score, class: "form-control height-big" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['score'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['score'].first, "Description of service offered to the client") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Complexities while offering service</label>
                  <%= form.text_area :conditions, class: "form-control height-big" %>
                  <% if flash.present? %>
                    <% if flash['errors'].present? && flash['errors']['conditions'].present?  %>
                      <p class='error'><%= company_history_error(flash['errors']['conditions'].first, "Complexities of offering that service to the client") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Service end date</label>
                  <div class="form-inline">
                    <%= form.date_select :service_end_date, {}, class: 'form-control small-field service-date company-date' %>
                  </div>
                </div>
              </div>




              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Service start date </label>
                  <div class="form-inline">
                    <%= form.date_select :service_start_date, {}, class: 'form-control small-field service-date company-date' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right botom-btn">
          <%= form.submit "Reset", class: "btn btn-primary save-btn reset-btn"%>
          <%= form.submit "Save", class: "btn btn-primary save-btn"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
