<%= form_for service, method: method, url: path do |form| %>

  <div class="box-body">
    <div class="form-group field col-lg-7">
      <%= form.label :name %>
      <%= form.text_field :name, id: :name, class: 'form-control', placeholder: "Enter service name"  %>
      <p class='error'><%= show_errors(service, :name, "Service Type") %></p>
    </div>
  </div>

  <div class="box-footer">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <% if @service.new_record? %>
      <%= link_to 'Back', admin_services_path, class: "btn btn-primary" %>
    <%else%>
      <%= link_to 'Show', admin_service_path(@service) , class: "btn btn-primary" %>
      <%= link_to 'Back', admin_services_path, class: "btn btn-primary" %>
    <%end%>
  </div>

<%end%>
