<% content_for :services_class, "active"%>
<section class="content-header">
  <h1>
    Service
    <small>Services list</small>
  </h1>
  <ol class="breadcrumb">
    <%= link_to 'New Service', new_admin_service_path, class: "btn btn-block btn-primary" %>
  </ol>
</section>
<p id="notice"><%= notice %></p>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Services</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Service type</th>
              <th colspan="3"><center> Actions <Center></td>
            </tr>
            </thead>
            <tbody>
              <% @services.each do |service| %>
                <tr class="clickable-row" data-href="<%= admin_service_path(service) %>">
                  <td class="service"><%= service.name %></td>
                  <td><%= link_to 'Show', admin_service_path(service) %></td>
                  <td><%= link_to 'Edit', edit_admin_service_path(service) %></td>
                  <td><%= link_to 'Destroy', admin_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
          </table>
          <%= will_paginate @services, class: "pagination bottom-pagination"%>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(".clickable-row>td.service").click(function() {
      if($(this).hasClass('quick-actions')){
      }
      else{
        window.document.location = $(this).parent().data("href");
      }
    });
  });
</script>
