<% content_for :services_class, "active"%>
<section class="content-header">
  <h1>
    New Service
    <small>Preview</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create New service</h3>
        </div>
        <%= render 'form', service: @service, method: 'post', path: admin_services_path %>
      </div>
    </div>
  </div>
</section>
