<%= form_with(model: company_history, local: true) do |form| %>
  <% if company_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_history.errors.count, "error") %> prohibited this company_history from being saved:</h2>

      <ul>
      <% company_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_of_service_provided %>
    <%= form.date_select :date_of_service_provided %>
  </div>

  <div class="field">
    <%= form.label :cmp_mission %>
    <%= form.text_field :cmp_mission %>
  </div>

  <div class="field">
    <%= form.label :cmp_vision %>
    <%= form.text_field :cmp_vision %>
  </div>

  <div class="field">
    <%= form.label :cmp_values %>
    <%= form.text_field :cmp_values %>
  </div>

  <div class="field">
    <%= form.label :cmp_value_proposition %>
    <%= form.text_field :cmp_value_proposition %>
  </div>

  <div class="field">
    <%= form.label :cmp_business_plan %>
    <%= form.text_field :cmp_business_plan %>
  </div>

  <div class="field">
    <%= form.label :cmp_hr_provider %>
    <%= form.text_field :cmp_hr_provider %>
  </div>

  <div class="field">
    <%= form.label :cmp_competitors %>
    <%= form.text_field :cmp_competitors %>
  </div>

  <div class="field">
    <%= form.label :cmp_organizational_structure %>
    <%= form.text_field :cmp_organizational_structure %>
  </div>

  <div class="field">
    <%= form.label :cmp_size %>
    <%= form.number_field :cmp_size %>
  </div>

  <div class="field">
    <%= form.label :number_of_workers %>
    <%= form.number_field :number_of_workers %>
  </div>

  <div class="field">
    <%= form.label :work_environment_score %>
    <%= form.text_field :work_environment_score %>
  </div>

  <div class="field">
    <%= form.label :workers_profile %>
    <%= form.text_field :workers_profile %>
  </div>

  <div class="field">
    <%= form.label :workers_average_age %>
    <%= form.text_field :workers_average_age %>
  </div>

  <div class="field">
    <%= form.label :workers_average_time_in_company %>
    <%= form.text_field :workers_average_time_in_company %>
  </div>

  <div class="field">
    <%= form.label :cmp_changes_in_last_year %>
    <%= form.text_field :cmp_changes_in_last_year %>
  </div>

  <div class="field">
    <%= form.label :geographical_state %>
    <%= form.text_field :geographical_state %>
  </div>

  <div class="field">
    <%= form.label :geographical_region %>
    <%= form.text_field :geographical_region %>
  </div>

  <div class="field">
    <%= form.label :political_context %>
    <%= form.text_field :political_context %>
  </div>

  <div class="field">
    <%= form.label :economic_context %>
    <%= form.text_field :economic_context %>
  </div>

  <div class="field">
    <%= form.label :social_context %>
    <%= form.text_field :social_context %>
  </div>

  <div class="field">
    <%= form.label :technological_context %>
    <%= form.text_field :technological_context %>
  </div>

  <div class="field">
    <%= form.label :environmental_context %>
    <%= form.text_field :environmental_context %>
  </div>

  <div class="field">
    <%= form.label :legal_context %>
    <%= form.text_field :legal_context %>
  </div>

  <div class="field">
    <%= form.label :relationship_with_client %>
    <%= form.text_field :relationship_with_client %>
  </div>

  <div class="field">
    <%= form.label :complexity_in_relationship_with_client %>
    <%= form.text_field :complexity_in_relationship_with_client %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_name %>
    <%= form.text_field :primary_contact_name %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_phone %>
    <%= form.text_field :primary_contact_phone %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_cellphone %>
    <%= form.text_field :primary_contact_cellphone %>
  </div>

  <div class="field">
    <%= form.label :position_of_primary_contact %>
    <%= form.text_field :position_of_primary_contact %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_email %>
    <%= form.text_field :primary_contact_email %>
  </div>

  <div class="field">
    <%= form.label :secondary_contact_name %>
    <%= form.text_field :secondary_contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_position %>
    <%= form.text_field :contact_position %>
  </div>

  <div class="field">
    <%= form.label :secondary_contact_email %>
    <%= form.text_field :secondary_contact_email %>
  </div>

  <div class="field">
    <%= form.label :consultant_charge %>
    <%= form.text_field :consultant_charge %>
  </div>

  <div class="field">
    <%= form.label :service_description %>
    <%= form.text_field :service_description %>
  </div>

  <div class="field">
    <%= form.label :service_complexities_while_offering %>
    <%= form.text_field :service_complexities_while_offering %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :conditions %>
    <%= form.text_field :conditions %>
  </div>

  <div class="field">
    <%= form.label :last_service_provided_name %>
    <%= form.text_field :last_service_provided_name %>
  </div>

  <div class="field">
    <%= form.label :service_start_date %>
    <%= form.date_select :service_start_date %>
  </div>

  <div class="field">
    <%= form.label :service_end_date %>
    <%= form.date_select :service_end_date %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.number_field :company %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
