<p id="notice"><%= notice %></p>

<h1>Company Histories</h1>

<table>
  <thead>
    <tr>
      <th>Date of service provided</th>
      <th>Cmp mission</th>
      <th>Cmp vision</th>
      <th>Cmp values</th>
      <th>Cmp value proposition</th>
      <th>Cmp business plan</th>
      <th>Cmp hr provider</th>
      <th>Cmp competitors</th>
      <th>Cmp organizational structure</th>
      <th>Cmp size</th>
      <th>Number of workers</th>
      <th>Work environment score</th>
      <th>Workers profile</th>
      <th>Workers average age</th>
      <th>Workers average time in company</th>
      <th>Cmp changes in last year</th>
      <th>Geographical state</th>
      <th>Geographical region</th>
      <th>Political context</th>
      <th>Economic context</th>
      <th>Social context</th>
      <th>Technological context</th>
      <th>Environmental context</th>
      <th>Legal context</th>
      <th>Relationship with client</th>
      <th>Complexity in relationship with client</th>
      <th>Primary contact name</th>
      <th>Primary contact phone</th>
      <th>Primary contact cellphone</th>
      <th>Position of primary contact</th>
      <th>Primary contact email</th>
      <th>Secondary contact name</th>
      <th>Contact position</th>
      <th>Secondary contact email</th>
      <th>Consultant charge</th>
      <th>Service description</th>
      <th>Service complexities while offering</th>
      <th>Score</th>
      <th>Conditions</th>
      <th>Last service provided name</th>
      <th>Service start date</th>
      <th>Service end date</th>
      <th>User</th>
      <th>Company</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_histories.each do |company_history| %>
      <tr>
        <td><%= company_history.date_of_service_provided %></td>
        <td><%= company_history.cmp_mission %></td>
        <td><%= company_history.cmp_vision %></td>
        <td><%= company_history.cmp_values %></td>
        <td><%= company_history.cmp_value_proposition %></td>
        <td><%= company_history.cmp_business_plan %></td>
        <td><%= company_history.cmp_hr_provider %></td>
        <td><%= company_history.cmp_competitors %></td>
        <td><%= company_history.cmp_organizational_structure %></td>
        <td><%= company_history.cmp_size %></td>
        <td><%= company_history.number_of_workers %></td>
        <td><%= company_history.work_environment_score %></td>
        <td><%= company_history.workers_profile %></td>
        <td><%= company_history.workers_average_age %></td>
        <td><%= company_history.workers_average_time_in_company %></td>
        <td><%= company_history.cmp_changes_in_last_year %></td>
        <td><%= company_history.geographical_state %></td>
        <td><%= company_history.geographical_region %></td>
        <td><%= company_history.political_context %></td>
        <td><%= company_history.economic_context %></td>
        <td><%= company_history.social_context %></td>
        <td><%= company_history.technological_context %></td>
        <td><%= company_history.environmental_context %></td>
        <td><%= company_history.legal_context %></td>
        <td><%= company_history.relationship_with_client %></td>
        <td><%= company_history.complexity_in_relationship_with_client %></td>
        <td><%= company_history.primary_contact_name %></td>
        <td><%= company_history.primary_contact_phone %></td>
        <td><%= company_history.primary_contact_cellphone %></td>
        <td><%= company_history.position_of_primary_contact %></td>
        <td><%= company_history.primary_contact_email %></td>
        <td><%= company_history.secondary_contact_name %></td>
        <td><%= company_history.contact_position %></td>
        <td><%= company_history.secondary_contact_email %></td>
        <td><%= company_history.consultant_charge %></td>
        <td><%= company_history.service_description %></td>
        <td><%= company_history.service_complexities_while_offering %></td>
        <td><%= company_history.score %></td>
        <td><%= company_history.conditions %></td>
        <td><%= company_history.last_service_provided_name %></td>
        <td><%= company_history.service_start_date %></td>
        <td><%= company_history.service_end_date %></td>
        <td><%= company_history.user %></td>
        <td><%= company_history.company %></td>
        <td><%= company_history.year %></td>
        <td><%= link_to 'Show', company_history %></td>
        <td><%= link_to 'Edit', edit_company_history_path(company_history) %></td>
        <td><%= link_to 'Destroy', company_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company History', new_company_history_path %>
