<% content_for :companies_class, "active"%>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div> <p id="notice"><%= notice %></p> </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Company Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Date of service provided:</th> <td><%= @company_history.date_of_service_provided %></td>
            </tr>

            <tr>
              <th>Cmp mission:</th> <td><%= @company_history.cmp_mission %></td>
            </tr>

            <tr>
              <th>Cmp vision:</th> <td><%= @company_history.cmp_vision %></td>
            </tr>

            <tr>
              <th>Cmp values:</th> <td><%= @company_history.cmp_values %></td>
            </tr>

            <tr>
              <th>Cmp value proposition:</th> <td><%= @company_history.cmp_value_proposition %></td>
            </tr>

            <tr>
              <th>Cmp business plan:</th> <td><%= @company_history.cmp_business_plan %></td>
            </tr>

            <tr>
              <th>Cmp hr provider:</th> <td><%= @company_history.cmp_hr_provider %></td>
            </tr>

            <tr>
              <th>Cmp competitors:</th> <td><%= @company_history.cmp_competitors %></td>
            </tr>

            <tr>
              <th>Cmp organizational structure:</th> <td><%= @company_history.cmp_organizational_structure %></td>
            </tr>

            <tr>
              <th>Cmp size:</th> <td><%= @company_history.cmp_size %></td>
            </tr>

            <tr>
              <th>Number of workers:</th> <td><%= @company_history.number_of_workers %></td>
            </tr>

            <tr>
              <th>Work environment score:</th> <td><%= @company_history.work_environment_score %></td>
            </tr>

            <tr>
              <th>Workers profile:</th> <td><%= @company_history.workers_profile %></td>
            </tr>

            <tr>
              <th>Workers average age:</th> <td><%= @company_history.workers_average_age %></td>
            </tr>

            <tr>
              <th>Workers average time in company:</th> <td><%= @company_history.workers_average_time_in_company %></td>
            </tr>

            <tr>
              <th>Cmp changes in last year:</th> <td><%= @company_history.cmp_changes_in_last_year %></td>
            </tr>

            <tr>
              <th>Geographical state:</th> <td><%= @company_history.geographical_state %></td>
            </tr>

            <tr>
              <th>Geographical region:</th> <td><%= @company_history.geographical_region %></td>
            </tr>

            <tr>
              <th>Political context:</th> <td><%= @company_history.political_context %></td>
            </tr>

            <tr>
              <th>Economic context:</th> <td><%= @company_history.economic_context %></td>
            </tr>

            <tr>
              <th>Social context:</th> <td><%= @company_history.social_context %></td>
            </tr>

            <tr>
              <th>Technological context:</th> <td><%= @company_history.technological_context %></td>
            </tr>

            <tr>
              <th>Environmental context:</th> <td><%= @company_history.environmental_context %></td>
            </tr>

            <tr>
              <th>Legal context:</th> <td><%= @company_history.legal_context %></td>
            </tr>

            <tr>
              <th>Relationship with client:</th> <td><%= @company_history.relationship_with_client %></td>
            </tr>

            <tr>
              <th>Complexity in relationship with client:</th> <td><%= @company_history.complexity_in_relationship_with_client %></td>
            </tr>

            <tr>
              <th>Primary contact name:</th> <td><%= @company_history.primary_contact_name %></td>
            </tr>

            <tr>
              <th>Primary contact phone:</th> <td><%= @company_history.primary_contact_phone %></td>
            </tr>

            <tr>
              <th>Primary contact cellphone:</th> <td><%= @company_history.primary_contact_cellphone %></td>
            </tr>

            <tr>
              <th>Position of primary contact:</th> <td><%= @company_history.position_of_primary_contact %></td>
            </tr>

            <tr>
              <th>Primary contact email:</th> <td><%= @company_history.primary_contact_email %></td>
            </tr>

            <tr>
              <th>Secondary contact name:</th> <td><%= @company_history.secondary_contact_name %></td>
            </tr>

            <tr>
              <th>Contact position:</th> <td><%= @company_history.contact_position %></td>
            </tr>

            <tr>
              <th>Secondary contact email:</th> <td><%= @company_history.secondary_contact_email %></td>
            </tr>

            <tr>
              <th>Consultant charge:</th> <td><%= @company_history.consultant_charge %></td>
            </tr>

            <tr>
              <th>Service description:</th> <td><%= @company_history.service_description %></td>
            </tr>

            <tr>
              <th>Service complexities while offering:</th> <td><%= @company_history.service_complexities_while_offering %></td>
            </tr>

            <tr>
              <th>Score:</th> <td><%= @company_history.score %></td>
            </tr>

            <tr>
              <th>Conditions:</th> <td><%= @company_history.conditions %></td>
            </tr>

            <tr>
              <th>Last service provided name:</th> <td><%= @company_history.last_service_provided_name %></td>
            </tr>

            <tr>
              <th>Service start date:</th> <td><%= @company_history.service_start_date %></td>
            </tr>

            <tr>
              <th>Service end date:</th> <td><%= @company_history.service_end_date %></td>
            </tr>

            <tr>
              <th>User:</th> <td><%= @company_history.user %></td>
            </tr>

            <tr>
              <th>Company:</th> <td><%= @company_history.company %></td>
            </tr>

            <tr>
              <th>Year:</th> <td><%= @company_history.year %></td>
            </tr>
          </table>
          <%= link_to 'Back', admin_company_path(@company_history.company), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
