<header class="navbar navbar-expand-lg fixed-top">
  <%= link_to users_dashboard_page_path, class: "navbar-brand mr-auto"  do %>
    <%= image_tag("logo.png")%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobilenav">
    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="mobilenav">
    <ul class="navbar-top mx-auto">
      <li class="<%= yield :dashboard_class %>">
        <a href="<%= users_dashboard_page_path %>">Dashboard</a>
      </li>
      <li class="<%= yield :users_companies_class %>"><a href="<%= users_companies_path %>">Company Portfolio</a></li>                  
      <li class="hidden-lg-up"><a href="#">My Account</a></li>
      <li class="hidden-lg-up"><a href="#">Logout</a></li>
    </ul>
  </div>
  <div class="dropdown ml-auto">
    <% if current_user.present? %>
      <%= link_to "#", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false", class: "avater"  do %>
        <%=  current_user.to_s %> <span class="avater-img"><i class="fa fa-user"></i></span>
      <%end%>
    <% end %>
    <!-- <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="avater">Diego Castro <span class="avater-img"><i class="fa fa-user"></i></span></a> -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a href="#">My Account <span class="fa fa-user"></span></a></li>

      <li>
        <% if current_user.present? %>
          <%= link_to destroy_user_session_path, method: :delete  do %>
            Logout <span class="fa fa-power-off"></span>
          <%end%>
        <% end %>
      </li>
    </ul>
  </div>
</header>
