<%= form_for company, method: method, url: path do |form| %>
  <div class="box-body">
    <div class="form-group field col-lg-7">
      <%= form.label :cmp_name, "Company Name" %>
      <%= form.text_field :cmp_name, class: 'form-control', placeholder: "Enter company name" %>
      <p class='error'><%= show_errors(company, :cmp_name, "Company Name") %></p>
    </div>

    <div class="form-group field col-lg-7">
      <%= label_tag :user_ids, "Select the users" %>
      <%= select_tag("company[user_ids][]", options_for_select(User.all.map {|s| [s.first_name, s.id]}, company.users.ids), {class: 'form-control select2 select2-hidden-accessible', multiple: :true})  %>
      <p class='error'><%= show_errors(company, :user_ids, "Users") %></p>
    </div>

    <div class="form-group field col-lg-7">
      <%= form.label :is_holding %>
      <%= form.check_box :is_holding, id: 'is_holding' %>
    </div>

    <div class="form-group field col-lg-7 company-class">
      <%= form.label :parent_id, "Select Parent Company" %>
      <%= form.select :parent_id, Company.all.collect { |r| [ r.cmp_name.capitalize, r.id ] },{include_blank: "Select Company"}, { class: 'form-control select2 company_class_select', style: "width: 100%;"}   %>
      <p class='error'><%= show_errors(company, :parent_id, "Parent company") %></p>
    </div>

    <div class="form-group field col-lg-7">
      <%= form.label :industry %>
      <%= form.text_field :industry, class: 'form-control', placeholder: "Enter industry" %>
      <p class='error'><%= show_errors(company, :industry, "Industry") %></p>
    </div>

    <div class="form-group field col-lg-7">
      <%= form.label :sub_industry %>
      <%= form.text_field :sub_industry, class: 'form-control', placeholder: "Enter sub industry" %>
      <p class='error'><%= show_errors(company, :sub_industry, "Sub Industry") %></p>
    </div>

    <div class="form-group field col-lg-7">
      <%= form.label :company_logo %>
      <%= form.file_field :company_logo %>
      <p class='error'><%= show_errors(company, :company_logo, "Company logo") %></p>
    </div>

</div>

<div class="box-footer">
  <%= form.submit "Submit", class: "btn btn-primary" %>
    <% if @company.new_record? %>
      <%= link_to 'Back', admin_companies_path, class: "btn btn-primary" %>
    <%else%>
      <%= link_to 'Show', admin_company_path(@company) , class: "btn btn-primary" %>
      <%= link_to 'Back', admin_companies_path, class: "btn btn-primary" %>
    <%end%>
  <% end %>
</div>


<script type="text/javascript">
   $(document).on('turbolinks:load', function() {
    if ($('#is_holding').is(":checked")){
      $(".company-class").show();
    }
    else {
      $(".company-class").hide();
    }
    $('#is_holding').change(function() {
        if(this.checked){
          $(".company-class").show();
        }
        else{
          $('.company_class_select').val('');
          $(".company-class").hide();
        }
    });
  });
</script>
