<% content_for :companies_class, "active"%>
<p id="notice"><%= notice %></p>
<section class="content-header">
  <h1>
    Companies
    <!-- <small>advanced tables</small> -->
  </h1>
  <ol class="breadcrumb">
    <%= link_to 'New Company', new_admin_company_path, class: "btn btn-block btn-primary" %>
  </ol>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Companies Data</h3>
        </div>
        <div class="box-body overflow-y">
          <table id="example3" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Company Name</th>
              <th>Industry</th>
              <th>Sub industry</th>
              <!-- <th>User</th> -->
              <th>Is holding</th>
              <th>Created By</th>
              <th colspan="3"><center> Actions <Center></td>
            </tr>
            </thead>
            <tbody>
            <% @companies.each do |company| %>
              <tr  class='clickable-row' data-href="<%= admin_company_path(company) %>">
                <td class="company"><%= company.cmp_name %></td>
                <td class="company"><%= company.industry %></td>
                <td class="company"><%= company.sub_industry %></td>
                <!-- <td class="company"><%#= company.user.to_s %></td> -->
                <td class="company"><%= company.created_by.cmp_name if company.created_by.present?%></td>
                <td class="quick-actions"><%= link_to 'Edit', edit_admin_company_path(company) %></td>
                <td><%= link_to 'Destroy', admin_company_path(company), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </table>
          <%= will_paginate @companies, class: "pagination bottom-pagination"%>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(".clickable-row>td.company").click(function() {
      if($(this).hasClass('quick-actions')){
      }
      else{
        window.document.location = $(this).parent().data("href");
      }
    });
  });
</script>
