<% content_for :companies_class, "active"%>
<section class="content-header">
  <h1>
    New Company
    <small>Preview</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create New Company</h3>
        </div>
        <%= render 'form', company: @company, method: 'post', path: admin_companies_path %>
      </div>
    </div>
  </div>
</section>
