<% content_for :companies_class, "active"%>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div> <p id="notice"><%= notice %></p> </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Company Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Company name:</th><td><%= @company.cmp_name %> </td>
            </tr>

            <tr>
              <th>Is holding:</th><td><%= @company.is_holding %> </td>
            </tr>

            <tr>
              <th>Parent Company Name:</th><td><%= @company.created_by.cmp_name if @company.created_by.present? %> </td>
            </tr>

            <tr>
              <th>Industry:</th><td><%= @company.industry %> </td>
            </tr>

            <tr>
              <th>Sub industry:</th><td><%= @company.sub_industry %> </td>
            </tr>

            <!-- <tr>
              <th>User:</th><td><%#= @company.user.to_s %> </td>
            </tr> -->
            <tr>
              <th>Company Logo:</th><td><%= image_tag @company.company_logo.url(:thumb) %></td>
            </tr>
          </table>
          <%= link_to 'Edit', edit_admin_company_path(@company),  class: "btn btn-primary" %>
          <%= link_to 'Back', admin_companies_path, class: "btn btn-primary" %>

          <div>
            <b>Company History</b><br>
            <% @company_histories.each do |company_history| %>
              <%= link_to company_history.year, admin_company_history_path(company_history)  %><br>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
