<% content_for :dashboard_class, "active"%>
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5 col-9">
        <h2>Dashboard <span>Great Place to work</span></h2>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-7 col-3 text-right" id="chart">
        <div class="bar-right">
          <div class="filter-box">
            <a href="javscript:void(0)" class="btn btn-primary" data-toggle="collapse" data-target="#accordion"><i class="fa fa-filter"></i><span>Filter</span><i class="fa fa-angle-down"></i></a>
            <div id="accordion" class="text-left">
              <div class="card">
                <div class="card-header">
                  <a class="card-link fa fa-caret-up" data-toggle="collapse" href="#collapseOne"><span>Record Filter</span></a>
                </div>
                <div id="collapseOne" class="collapse show padding-15" data-parent="#accordion">
                  <!-- <div class="card-body"> -->
                    <div class="row">
                      <% Record.states.each do |k, v| %>

                        <div class="col-md-6">
                          <div class="form-group">
                            <%= check_box_tag 'record[state][]', k , false, id: "record_state_#{v}", class: "check_box_#{v}" %>
                            <label for="record_state_<%=v%>"><%= k %></label>
                          </div>
                        </div>
                      <% end %>

                      <div class="col-md-6">
                        <div class="form-group">
                          <%= check_box_tag 'record[state][]', 'pending' , false, id: "record_state_3", class: "check_box_#{3}" %>
                          <label for="record_state_3"><%= 'pending' %></label>
                        </div>
                      </div>

                    </div>
                  <!-- </div> -->
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link fa fa-caret-down" data-toggle="collapse" href="#collapseTwo"><span>Select Year</span></a>
                </div>
                <div id="collapseTwo" class="collapse year-list" data-parent="#accordion">
                  <!-- <div class="card-body"> -->
                    <% current_year = Time.now().strftime("%Y").to_i %>
                    <% start_year = current_year - 5 %>
                    <% end_year = current_year + 5 %>

                    <% for year in start_year..end_year do %>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= radio_button_tag('record[year][]', year, current_year == year ? true : false, id: "year_#{year}", class: 'year_class') %>
                          <label for="year_<%= year %>  "><%= year %></label>
                        </div>
                      </div>
                    <% end %>

                  <!-- </div> -->
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link fa fa-caret-down" data-toggle="collapse" href="#collapseThree"><span>Service Type</span></a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= select_tag "service", options_from_collection_for_select(Service.all, "id", "name"), {prompt: "Please select service type", class: 'form-control select2', style: "width: 100%;"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% if current_user.role == "Leader"%>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link fa fa-caret-down" data-toggle="collapse" href="#collapseFour"><span>Consultant</span></a>
                  </div>
                  <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= select_tag "consultant", options_from_collection_for_select(User.consultantants, "id", "first_name"), {prompt: "Please select Consultant", class: 'form-control select2', style: "width: 100%;"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-12">
        <div class="graphs-bg bg-inverse">
          <div id="chartContainer"></div>
        </div>
      </div> -->
      <div class="col-12">
        <div class="graphs-bg bg-inverse">
          <div id="container" style="min-width: 1070px; height: 455px; margin: 0 auto"></div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-inverse records-bg">
          <h3>Records</h3>
          <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Client Name</th>
                <th>Status</th>
                <th>Service</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="record_table">
              <% @records.each do |record|  %>
                <tr>
                  <td><%= record.company.cmp_name %></td>
                  <td><%= record.state %></td>
                  <td><%= record.service.name if record.service.present? %></td>
                  <td><a href="#" class="fa fa-eye"></a></td>
                </tr>
              <%end %>
            </tbody>
          </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('.filter-box > a').click(function() {
      $(this).parent().toggleClass('show');
    });

    $('#accordion .card .card-header a.card-link').click(function() {
      if($(this).hasClass('fa-caret-down')) {
        $(this).removeClass('fa-caret-down');
        $(this).addClass('fa-caret-up');
      } else {
        $(this).removeClass('fa-caret-up');
        $(this).addClass('fa-caret-down');
      }
    });

    var states = [];
    var year, service, consultant;
    '<% Record.states.each do |k, v| %>'
      $('.check_box_<%=v%>').change(function() {
        if(this.checked) {
          states.push('<%= k %>');
          filter(states, year, service, consultant);
        }
        else {
          index = states.indexOf('<%= k %>');
          states.splice(index,1);
          filter(states, year, service, consultant);
        }
      })
    '<% end %>'

    $('.check_box_3').change(function() {
      if(this.checked) {
        states.push('<%= 'pending' %>');
        filter(states, year, service, consultant);
      }
      else {
        index = states.indexOf('<%= 'pending' %>');
        states.splice(index,1);
        filter(states, year, service, consultant);
      }
    })

    $('.year_class').click(function() {
       year = this.value;
       filter(states, year, service, consultant);
    });

    $('#service').on('change', function (e) {
      service = this.value;
      filter(states, year, service, consultant);
    });

    $('#consultant').on('change', function (e) {
      consultant = this.value;
      filter(states, year, service, consultant);
    });

  });


  function filter(states, year, service, consultant) {
    $.ajax({
      url: '/users/dashboard_page',
      type: 'GET',
      data: {"state": states, "year": year, "service": service, "consultant": consultant }
    });
  }
  function params_state() {

    <% if params[:state].present? %>
      alert('present');
      var param_state = <%= params[:state] %> ;
      return(param_state);
    <% else %>
      var param_state = null ;
    <% end %>
  }
  function params_year() {
    <% if params[:year].present? %>
      var param_year = <%= params[:year] %> ;
      return(param_year);
    <% else %>
      var param_state = null ;
    <% end %>
  }

  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Record values'
      },
      xAxis: {
        categories: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Value of Service'
          },
          stackLabels: {
              enabled: true,
              style: {
                  fontWeight: 'bold',
                  color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
              }
          }
      },
      legend: {
          align: 'right',
          x: -30,
          verticalAlign: 'top',
          y: 25,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
          borderColor: '#CCC',
          borderWidth: 1,
          shadow: false
      },
      tooltip: {
          headerFormat: '<b>{point.x}</b><br/>',
          pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
          column: {
              stacking: 'normal',
              dataLabels: {
                  enabled: true,
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
              }
          }
      },
      series: [{
          name: 'Created',
          data: <%= @created %>
      }, {
          name: 'Valued',
          data: <%= @valued %>
      }, {
          name: 'Approved',
          data: <%= @approved %>
      }, {
          name: 'Pending',
          data: <%= @pending %>
      }]
  });

</script>
