$( "#container" ).replaceWith( '<div id="container" style="min-width: 1070px; height: 455px; margin: 0 auto"></div>' );
$( "#record_table" ).replaceWith('<tbody id="record_table">' +
  '<% @records.each do |record|  %>'+
    '<tr>'+
      '<td><%= record.company.cmp_name %></td>'+
      '<td><%= record.state %></td>'+
      '<td><%= record.service.name %></td>'+
      '<td><a href="#" class="fa fa-eye"></a></td>'+
    '</tr>'+
  '<%end %>'+
'</tbody>');

Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Record values'
    },
    xAxis: {
      categories: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Value of Service'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },
    series: [{
        name: 'Created',
        data: <%= @created %>
    }, {
        name: 'Valued',
        data: <%= @valued %>
    }, {
        name: 'Approved',
        data: <%= @approved %>
    }, {
        name: 'Pending',
        data: <%= @pending %>
    }]
});
