<div class="landing-page h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-6 col-12 hidden-md-down">
      <div class="landing-bg h-100"></div>
    </div>
    <div class="col-lg-6 col-12 text-center">
      <div class="content h-100">
        <!-- <img src="images/logo.png"> -->
        <%= image_tag("logo.png")%>
        <h3>CRM Great Place <span>to Work Chile</span></h3>
        <div class="form-group mx-auto">
          <!-- forgot password -->
          <h2>Forgot your password?</h2>

          <%=form_tag(users_generate_new_password_email_path(@user), id: 'new_password') do %>

            <div class="field">
              <%= email_field_tag 'email', nil , class: "form-control", placeholder: "Enter your email", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <%=submit_tag 'Send Reset Password Email', class: "btn btn-primary submit" %>
            </div>
          <% end %>
          <%= link_to "Login", root_path  %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $( "#new_password" ).submit(function( event ) {
      if ($('#email').length .val() != '')
      {

      }
      else
      {
        event.preventDefault();
        $(".submit").removeAttr('disabled');
      }
    });
  })

</script>
