<div class="landing-page h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-6 col-12 hidden-md-down">
      <div class="landing-bg h-100"></div>
    </div>
    <div class="col-lg-6 col-12 text-center">
      <div class="content h-100">
        <%= image_tag("logo.png")%>
        <h3>CRM Great Place <span>to Work Chile</span></h3>
        <div class="form-group mx-auto">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%- flash.each do |name, msg| -%>
              <%= content_tag :div, msg, :id => "flash_#{name}", class: "error" if msg.is_a?(String) %>
            <%- end -%>

            <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <label>
                  <%= f.check_box :remember_me %>
                  Remember Me
                </label>
              </div>
            <% end -%>
            <%= f.submit "Sign In", class: "btn btn-primary"  %>
          <% end %>
          <%= link_to "Forgot password", users_password_new_path %>
          <%#= render "devise/shared/links", resource_name: :user %>
        </div>
      </div>
    </div>
  </div>
</div>
