<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path, class: 'logo'  do %>
      <b>Admin</b>LTE
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Enter your new password</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to "Login", root_path  %>
  </div>
</div>
