<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path, class: 'logo'  do %>
      <b>Admin</b>LTE
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Enter your email to set new password</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group has-feedback field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group">
        <div class="  actions">
          <%= f.submit "Send Reset Password Email", class: "btn btn-primary btn-block btn-flat" %>
        </div>
      </div>
    <% end %>
    <%= link_to "Login", new_user_session_path %>
  </div>
</div>
