<header class="main-header">
    <!-- Logo -->
  <%= link_to dashboard_page_admin_dashboard_index_path, class: 'logo'  do %>
    <span class="logo-mini"><b>A</b>LT</span>
    <span class="logo-lg"><b>Admin</b>LTE</span>
  <% end %>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <% if current_user.present? %>
            <%= link_to destroy_user_session_path, method: :delete  do %>
              Logout <i class="fa fa-power-off"></i>
            <%end%>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script> -->
