<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag("user2-160x160.jpg", class: "img-circle", alt: "User Image")%>
        </div>
        <div class="pull-left info">
          <p>
            <%if current_user.present? %>
              <%= current_user.to_s %>
            <%end%>
          </p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>

        <li class="<%= yield :dashboard_class %>">
          <%= link_to dashboard_page_admin_dashboard_index_path do %>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
        </li>
        <li class="<%= yield :users_class %>">
          <%= link_to admin_users_path do %>
            <i class="fa fa-user"></i> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
        </li>

        <li class="<%= yield :companies_class %>">
          <%= link_to admin_companies_path do %>
            <i class="fa fa-building"></i> <span>Companies</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
        </li>

        <li class="<%= yield :records_class %>">
          <%= link_to admin_records_path do %>
            <i class="fa fa-copy"></i> <span>Records</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          <% end %>
        </li>
        <li class="<%= yield :services_class %>">
          <%= link_to admin_services_path do %>
            <i class="fa fa-list-ul"></i> <span>Services</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>

            </span>
          <% end %>
        </li>

        <li class="<%= yield :processes_class %>">
          <%= link_to admin_processes_path do %>
            <i class="fa fa-spinner""></i> <span>Processes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>

            </span>
          <% end %>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
