<% content_for :users_companies_class, "active"%>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <h2> <%= current_user.to_s %><span>companies</span></h2>
      </div>
      <div class="col-lg-9 col-md-8 col-12 text-right">
        <div class="bar-right">
        </div>
      </div>
      <div class="col-12">
        <div class="timeline-bg bg-inverse">
          <div class="row">
            <% @companies.order(:cmp_name).each do |company|%>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <%= link_to users_company_path(company)  do %>
                    <div class="list-box bkg-gray">
                      <% if company.company_logo.present? %>
                        <%= image_tag company.company_logo.url(:thumb) %>
                      <% else %>
                        <img src="/assets/list-icon.png" alt="" title="" height="32" width="72" />
                      <% end %>
                      <% span_class = '' %>
                      <% if company.records.count == 0 %>
                        <%  span_class = "s-circle-red" %>
                      <% elsif (company.records.last.updated_at <= DateTime.now - 3.month)%>
                        <%  span_class = "s-circle-yellow" %>
                      <% end %>
                      <span class="s-circle <%= span_class %>"></span>
                      <div class="list-detail">
                        <p>Id: <%= company.id %> </p>
                        <p>Name: <%= company.cmp_name %> </p>
                        <p>Number of Children: <%= company.created_companies.count %> </p>
                      </div>
                    </div>
                  <%end%>
                </div>
            <% end %>
          </div>
        </div>
        <%= will_paginate @companies, class: "pagination port_pagination"%>
      </div>
    </div>
  </div>
</section>
