<% content_for :company_class, "active"%>
<div> <p id="notice"><%= notice %></p> </div>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <h2><%= @company.cmp_name %> <span><%= @company.industry %></span></h2>
      </div>
      <div class="col-lg-9 col-md-8 col-12 text-right">
        <div class="bar-right">
          <div class="form-group select">
            <%= select_tag 'child_companies', options_from_collection_for_select(@company.child_companies, "id", "cmp_name"), { class: "form-control", include_blank: 'Select child company'} %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="timeline-bg bg-inverse">
          <div class="timeline-top">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#comercial">Comercial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hoja" data-toggle="tab" href="#hoja" >Hoja de Vida</a>
              </li>
            </ul>
            <div class="year-slide">
              <div class="owl-carousel owl-theme">
                <% @years.each do |year|%>
                  <div class="item"><a href="scroll_<%=year%>" data="<%= year %>" class="year"><%= year %></a></div>
                <% end %>
              </div>
            </div>
            <%= link_to "Next", users_company_histories_path(user: current_user.id, company: @current_company_history.company ,year: @years.last.to_i + 1), class: "add-year",  :method => :post %>
            <%= link_to new_users_record_path(company: @company.id), class: "create-new-btn" do %>
              <button type="button" class="btn btn-primary ">Create New record</button>
            <% end %>
          </div>
      <div class="tab-content">
            <div id="comercial" class="tab-pane active">
              <div class="timeline-wrap">
                <div class="row">
                  <div class="col-lg-10 offset-lg-1 col-12">
                    <% @years.reverse.each do |year| %>
                      <div class="title-bar text-center" id="<%= year %>-scroll">
                        <span id="scroll_<%=year%>" ><%= year %></span>
                      </div>
                      <ul class="timeline">
                        <% @records.where('extract(year from date_of_service_provided) IN(?)', year).reverse.each_with_index do |record, index| %>
                          <li class="<%= index % 2 == 0 ? '' : 'timeline-inverted'%>">
                            <div class="card <%= record.state == 'created' ? 'bg-blue' : record.state ==
                          'signed' ? 'bg-green' : record.state == 'valued' ? 'bg-gray' : record.state == 'approved' ? 'bg-yellow' : '' %>"> <%= record.id %>
                              <h5><%= I18n.t("date.month_names")[record.created_at.month] %> <%= year %></h5>
                              <ul>
                                <li><%= record.date_of_service_provided %></li>
                                <li><i class="fa fa-calendar-alt"></i><%= record.service_duration %></li>
                                <li><i class="fa fa-dollar-sign"></i><%= record.number_of_segments %> segments</li>
                                <li><i class="fa fa-dollar-sign"></i><%= record.value_of_service %>  UF (Price)</li>
                              </ul>
                              <div class="right">
                                <span><%= record.company.company_histories.last.work_environment_score %></span>
                                (Trust Index Score)<br>goes to ranking
                              </div>
                              <%= link_to edit_users_record_path(record) do %>
                                <button type="button" class="btn btn-primary">Edit</button>
                              <% end %>
                            </div>
                          </li>
                        <% end %>
                        <li class="clearfix" style="float: none;"></li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div id="hoja" class="tab-pane">
              <%= render 'users/company_histories/form', company_history: @current_company_history, method: 'patch', path: users_company_history_path(@current_company_history.id) %>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<script>
  $( document ).ready(function() {
    var year = '<%= flash['year'] %>';
    if(year != '')
    {
      $('.hoja').click();
    }

    $('#<%= @working_year %>-id').addClass('active');

    $('#create-new-record').click(function() {
      var selected_year = $('ul.ul-year').find('a.active').text();
      var company_id = '<%= @current_company_history.company.id %>';
      var user_id = '<%= current_user.id %>';
      $.ajax({
        url: '<%= users_records_path %>',
        type: 'post',
        data: {"company": company_id,'user': user_id}
      });

    });


    $('.year').click(function(e) {
      e.preventDefault();
      '<% @years.each do |year|%>'
        if ('<%= year.to_s %>' == e.target.text)
        {
            $('#<%= year %>-id').addClass('active');
            $('html, body').animate({
                  scrollTop: $("#<%= year %>-scroll").offset().top
              }, 2000);
        }
        else
        {
          $('#<%= year %>-id').removeClass('active');
        }
      '<% end %>'
      var year = e.target.text;
      var company_id = '<%= @current_company_history.company.id %>'
      $.ajax({
        url: '<%= change_year_users_companies_path %>',
        type: 'GET',
        data: {"id": company_id, "year": year}
      });
    })

  });
</script>

<script>
    $(function(){
      $('#child_companies').bind('change', function () {
         var url = "/users/companies/" + $(this).val()
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
    });
</script>

<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    loop:false,
    items: 5,
    nav:true
  })
</script>
