<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path, class: 'logo'  do %>
      <b>Admin</b>LTE
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%#= flash[:notice] %>
      <%#= flash[:error] %>
      <%#= flash[:alert] %>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}", class: "error" if msg.is_a?(String) %>
      <%- end -%>
      <div class="form-group has-feedback field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <label>
                    <%= f.check_box :remember_me %>
                    Remember Me
                  </label>
                </div>
              <% end -%>
          </div>
        </div>
        <!-- /.col -->

        <div class="col-xs-4 actions">
          <%= f.submit "Sign In", class: "btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>
    <%= render "devise/shared/links" %>


  </div>
  <!-- /.login-box-body -->
</div>
