<div> <p id="notice"><%= notice %></p> </div>
<div class="timeline-bg bg-inverse">
  <%= form_for record, class: "record_detail", url: path, method: method do |form| %>
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        
        <%= render 'users/records/record_detail', form: form, record: record %>

    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="info-log">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Service Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Log</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <%= form.hidden_field :user_role, value: current_user.role %>
            <%= render 'users/records/service_detail', form: form, record: record %>
          </div>
          <div id="menu1" class="container tab-pane"><br>
            <table class="table">
              <thead>
                <tr>
                  <th>State</th>
                  <th>User</th>
                  <th>Description</th>
                  <th>Submit</th>
                </tr>
              </thead>
              <tbody>
                <% @record.logs.each do |log| %>
                  <tr>
                    <td><%= log.state %></td>
                    <td><%= log.user.to_s %></td>
                    <td>
                      <div class="form-group record_detail">
                        <%= text_area_tag :description, log.description, class: 'form-control', id: "description_#{log.id}" %>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary save" id="update_log_<%=log.id%>" data-log_id= "<%=log.id%>" >Update</button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <!-- <div class="form-group record_detail">
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div> -->
            <!-- <div class="text-right">
              <button type="button" class="btn btn-primary save">SAVE</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right m-t-10 text-center">
    <% unless record.state.present? %>
      <%= form.hidden_field :state, value: 'created' %>
      <%= form.submit "Created", class: "btn btn-primary"%>
      <button type="button" class= "btn btn-primary" disabled= "true" >Valued</button>
      <button type="button" class= "btn btn-primary" disabled= "true" >Approved</button>
    <% end %>

    <% if record.state.present? && current_user.role == 'Consultant' %>
      <%= form.submit "Edit", class: "btn btn-primary edit_button" if record.persisted?  %>
      <%= form.hidden_field :state, value: 'created' %>
      <%= form.submit "Created", class: "btn btn-primary"%>
      <button type="button" class= "btn btn-primary" disabled= "true" >Valued</button>
      <button type="button" class= "btn btn-primary" disabled= "true" >Approved</button>
    <% end %>

    <% if record.state.present? %>
      <% if record.state == "valued" && current_user.role == 'Leader' %>
        <%= form.hidden_field :state, value: 'approved', class: "hidden_field" %>
        <%= form.submit "Edit", class: "btn btn-primary edit_button" %>
        <button type="button" class= "btn btn-primary" disabled= "true" >Created</button>
        <button type="button" class= "btn btn-primary" disabled= "true" >Valued</button>
        <%= form.submit "Approved", class: "btn btn-primary" %>
      <% elsif record.state == "created" && current_user.role == 'Leader' %>
        <%= form.hidden_field :state, value: 'valued', class: "hidden_field" %>
        <%= form.submit "Edit", class: "btn btn-primary edit_button"%>
        <button type="button" class= "btn btn-primary" disabled= "true" >Created</button>
        <%= form.submit "Valued", class: "btn btn-primary"%>
        <button type="button" class= "btn btn-primary" disabled= "true" >Approved</button>
      <% end %>
    <% end %>
    <% if record.state.present? && record.state == "approved"%>
      <h2>The record has been approved </h2>
    <% end %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(".edit_button").click(function(){
      $(".hidden_field").remove()
    });

    $('button[id^="update_log_"]').click(function(){
      var log_id = $(this).data("log_id");
      var description = $("#description_" + log_id).val();
      $.ajax({
        url: '<%= update_log_users_records_path %>',
        type: 'patch',
        data: {"description": description, 'log_id': log_id}
      });
    })

  })
</script>
