<div class="new-record-last">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <% unless @record.new_record? %>
        <span id="fileselector">
          <%= form.file_field :record_pdf, "data-input" => false %>
          <label class="btn btn-default" for="upload-file-selector">
            <i class="fas fa-cloud-upload-alt margin-correction"></i>upload file
          </label>
        </span>
      <% end %>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_name, 'Company name'  %>
        <%= form.text_field :cmp_name, class: 'form-control small-field', placeholder: "Enter company name" %>
        <p class='error'><%= show_errors(record, :cmp_name, "Company Name") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_phone_number, 'Company phone number'  %>
        <%= form.text_field :cmp_phone_number, class: 'form-control small-field', placeholder: "Enter company phone number" %>
        <p class='error'><%= show_errors(record, :cmp_phone_number, "Company Phone Number") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_general_managers_name, 'Company Genaral Manager name'  %>
        <%= form.text_field :cmp_general_managers_name, class: 'form-control small-field', placeholder: "Enter company genaral manager name" %>
        <p class='error'><%= show_errors(record, :cmp_general_managers_name, "Company Genaral Manager Name") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :cmp_general_managers_email, 'Company genaral manager email'  %>
      <%= form.text_field :cmp_general_managers_email, class: 'form-control small-field', placeholder: "Enter company genaral manager email" %>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :cmp_hrm_name, 'Company Human Resorce Manager name'  %>
      <%= form.text_field :cmp_hrm_name, class: 'form-control small-field', placeholder: "Enter company human resorce manager name" %>
      <p class='error'><%= show_errors(record, :cmp_hrm_name, "Company Human Resorce Manager Name") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :cmp_hrm_email, 'Company Human Resorce Manager email'  %>
      <%= form.text_field :cmp_hrm_email, class: 'form-control small-field', placeholder: "Enter company human resorce manager email" %>
      <p class='error'><%= show_errors(record, :cmp_hrm_email, "Company Human Resorce Manager Email") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :official_name_of_client %>
      <%= form.text_field :official_name_of_client, class: 'form-control small-field', placeholder: "Enter official name of client" %>
      <p class='error'><%= show_errors(record, :official_name_of_client, "Enter Official Name of Client") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_business_plan, 'Company business plan'  %>
        <%= form.text_field :cmp_business_plan, class: 'form-control small-field', placeholder: "Enter company business plan" %>
        <p class='error'><%= show_errors(record, :cmp_business_plan, "Company Business Plan") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :chilean_id_number %>
        <%= form.text_field :chilean_id_number, class: 'form-control small-field', placeholder: "Enter chilean id number" %>
        <p class='error'><%= show_errors(record, :chilean_id_number, "Chilean ID Number") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :cmp_address, 'Company Address'  %>
      <%= form.text_field :cmp_address, class: 'form-control small-field', placeholder: "Enter company Address" %>
      <p class='error'><%= show_errors(record, :cmp_address, "Company Address") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_city, 'Company City'  %>
        <%= form.text_field :cmp_city, class: 'form-control small-field', placeholder: "Enter company City" %>
        <p class='error'><%= show_errors(record, :cmp_city, "Company City") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_state, 'Company state'  %>
        <%= form.text_field :cmp_state, class: 'form-control small-field', placeholder: "Enter company state" %>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
      <%= form.label :cmp_phone, 'Company Phone'  %>
      <%= form.text_field :cmp_phone, class: 'form-control small-field', placeholder: "Enter company Phone" %>
      <p class='error'><%= show_errors(record, :cmp_phone, "Company Phone") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
      <%= form.label :cmp_fax, 'Company Fax'  %>
      <%= form.text_field :cmp_fax, class: 'form-control small-field', placeholder: "Enter company Fax" %>
      <p class='error'><%= show_errors(record, :cmp_fax, "Company Fax") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_number, 'Company number'  %>
        <%= form.text_field :cmp_number, class: 'form-control small-field', placeholder: "Enter company number" %>
        <p class='error'><%= show_errors(record, :cmp_number, "Company Number") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :cmp_office, 'Company office'  %>
        <%= form.text_field :cmp_office, class: 'form-control small-field', placeholder: "Enter company office" %>
        <p class='error'><%= show_errors(record, :cmp_office, "Company Office") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :bill_receiver_name %>
        <%= form.text_field :bill_receiver_name, class: 'form-control small-field', placeholder: "Enter bill receiver name" %>
        <p class='error'><%= show_errors(record, :bill_receiver_name, "Bill Receiver Name") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :bill_receiver_phone %>
      <%= form.text_field :bill_receiver_phone, class: 'form-control small-field', placeholder: "Enter bill receiver phone" %>
      <p class='error'><%= show_errors(record, :bill_receiver_phone, "Bill Receiver Phone") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :number_of_employees %>
      <%= form.number_field :number_of_employees, class: 'form-control small-field', placeholder: "Enter number of employees" %>
      <p class='error'><%= show_errors(record, :number_of_employees, "Number of Employees") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :affiliates_in_city %>
      <%= form.text_field :affiliates_in_city, class: 'form-control small-field', placeholder: "Enter affiliates in city" %>
      <p class='error'><%= show_errors(record, :affiliates_in_city, "Affiliates in City") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :affiliates_in_state %>
      <%= form.text_field :affiliates_in_state, class: 'form-control small-field', placeholder: "Enter Affiliates in state" %>
      <p class='error'><%= show_errors(record, :affiliates_in_state, "Affiliates in State") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :affiliates_in_country %>
        <%= form.text_field :affiliates_in_country, class: 'form-control small-field', placeholder: "Enter affiliates in country" %>
        <p class='error'><%= show_errors(record, :affiliates_in_country, "Affiliates in Country") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :primary_contact_person_name %>
        <%= form.text_field :primary_contact_person_name, class: 'form-control small-field', placeholder: "Enter primary contact person name" %>
        <p class='error'><%= show_errors(record, :primary_contact_person_name, "Primary Contact Person Name") %></p>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :primary_contact_person_phone %>
      <%= form.text_field :primary_contact_person_phone, class: 'form-control small-field', placeholder: "Enter primary contact person phone" %>
      <p class='error'><%= show_errors(record, :primary_contact_person_phone, "Primary Contact Person Phone") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :primary_contact_person_role %>
      <%= form.text_field :primary_contact_person_role, class: 'form-control small-field', placeholder: "Enter primary contact person role" %>
      <p class='error'><%= show_errors(record, :primary_contact_person_role, "Primary Contact Person Role") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group">
      <%= form.label :primary_contact_person_email %>
      <%= form.text_field :primary_contact_person_email, class: 'form-control small-field', placeholder: "Enter primary contact person email" %>
      <p class='error'><%= show_errors(record, :primary_contact_person_email, "Primary Contact Person Email") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="form-group record_detail">
      <%= form.label :description_of_service %>
      <%= form.text_area :description_of_service, rows: "5", class: "form-control", placeholder: "Enter description of service" %>
      <p class='error'><%= show_errors(record, :description_of_service, "Description of Service") %></p>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group record_detail">
        <%= form.label :service_conditions %>
        <%= form.text_area :service_conditions, rows: "5", class: "form-control", placeholder: "Enter Terms & Conditions" %>
      </div>
    </div>
  </div>
</div>
<% if @record.new_record? %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :company_id, value: @company_id %>
<% end %>



<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $('#record_service_duration_parameter').on('change', function (e) {
          if($('#record_service_duration_parameter').val() == 'days'){
            $('#record_service_duration').html('');
            <% Record::DAYS.each do |day| %>
              $('#record_service_duration').append($('<option>', {
                value: <%= day %>,
                text : <%= day %>
              }));
            <% end %>
          }else if ($('#record_service_duration_parameter').val() == 'months') {
            $('#record_service_duration').html('');
            <% Record::MONTHS.each do |month| %>
              $('#record_service_duration').append($('<option>', {
                value: <%= month %>,
                text : <%= month %>
              }));
            <% end %>
          }else if ($('#record_service_duration_parameter').val() == 'years') {
            $('#record_service_duration').html('');
            <% Record::YEARS.each do |year| %>
              $('#record_service_duration').append($('<option>', {
                value: <%= year %>,
                text : <%= year %>
              }));
            <% end %>
          }
        })
    });

    $(document).on('turbolinks:load', function() {
      $(".medicon-class").hide();
      if ($("#record_service_id option:selected").text() == "Medicon"){
        $(".medicon-class").show();
      }
      $('#record_service_id').on('change', function (e) {
        if ($("#record_service_id option:selected").text() == "Medicon"){
          $(".medicon-class").show();
        }
        else {
          $(".medicon-class").hide();
        }
      })
    })
</script>
