<%= form.label :date_of_service_provided %>
  <div class=" form-inline form-group">
    <div class="general-dates">
      <%= form.date_select :date_of_service_provided, {}, class: 'form-control small-field service-date' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :service_id, "Select service" %>
    <%= form.select :service_id, Service.all.map{|r| [r.name, r.id]}, {}, { class: 'form-control select2', style: "width: 100%;"}  %>
  </div>

  <div class="form-group">
    <%= form.label :process_table_id, "Select service" %>
    <%= form.select :process_table_id, ProcessTable.all.map{|r| [r.name, r.id]}, {}, { class: 'form-control select2', style: "width: 100%;"}  %>
  </div>

  <div class="form-group medicon-class">
    <%= form.label :number_of_segments %>
    <%= form.number_field :number_of_segments, class: 'form-control small-field', placeholder: "Enter number of segments" %>
    <p class='error'><%= show_errors(record, :number_of_segments, "Number of Segments") %></p>
  </div>

  <div class="form-group medicon-class">
    <%= form.label :survey_mode %>
    <%= form.select :survey_mode, Record.survey_modes.keys.map{|r| [r.titleize, r]}, {}, { class: 'form-control small-field select2', style: "width: 100%;"}   %>
  </div>

  <div class="form-group">
    <%= form.label :service_duration_parameter %>
    <%= form.select :service_duration_parameter, Record.service_duration_parameters.keys.map{|r| [r.titleize, r]},{}, { class: 'form-control select2', style: "width: 100%;"}  %>
  </div>
  <div class="form-group">
    <%= form.label :service_duration %>
    <%= form.select :service_duration, options_for_select(Record::DAYS), {}, class: 'form-control select2', placeholder: "Enter service duration" %>
  </div>

  <div class="form-group">
    <%= form.label :value_of_service %>
    <% if current_user.role == 'Leader' %>
      <%= form.text_field :value_of_service, class: 'form-control small-field', placeholder: "Enter value of service" %>
    <% else %>
      <%= form.text_field :value_of_service, class: 'form-control small-field', placeholder: "Enter value of service", disabled: :true %>
    <%end%>
    <p class='error'><%= show_errors(record, :value_of_service, "Value of Service") %></p>
  </div>
