<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <% if  @record.record_pdf.present? %>
          <h2>
            Record Id= <%= @record.id %>
            <%= link_to download_users_record_path, target: "_blank" do %>
              <i class="fas fa-file-pdf" style="font-size:25px; margin-left: 15px;"></i>
            <% end %>
          </h2>

        <% else %>
          <h2>
            Record Id= <%= @record.id %> <%= link_to download_pdf_users_record_path, target: "_blank"  do %>
               <i class="fas fa-file-pdf" style="font-size:25px; margin-left: 15px;"></i>
              <%end%>
          </h2>
        <% end %>

      </div>
      <div class="col-lg-9 col-md-8 col-12 text-right">
        <div class="bar-right">
          <div class="form-group">
            <%=link_to users_company_path(@record.company) do %>
              <button type="button" class="btn btn-primary">Back to Company</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 record-edit">
        <%= render 'users/records/form', record: @record, method: 'patch', path: users_record_path() %>
    </div>
  </div>
</div>
</section>
