<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <h2>New Record</h2>
      </div>
      <div class="col-lg-9 col-md-8 col-12 text-right">
        <div class="bar-right">
          <div class="form-group">
            <%=link_to users_companies_path do %>
              <button type="button" class="btn btn-primary">Back </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 record-edit">
        <%= render 'users/records/form', record: @record, method: 'post', path: users_records_path %>
    </div>
  </div>
</div>
</section>
