<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Great Place to Work</title>
</head>
<body>

  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td align="center" style="font-family: arial;">
        <table width="650" cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td align="center">
                    <h3 style="margin: 0px 0 5px; display: block; padding: 0px; font-size: 24px; color: #000; font-weight: bold;">ACCEPTANCE FORM</h3>
                    <span style="font-size: 16px; display: block; color: #555;">Consultant:</span>
                  </td>
                  <td width="100"><img src="images/logo.png" alt="" style="max-width: 100%;"></td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td align="left" style="padding: 10px 0; font-size: 18px; font-weight: bold;">I. IDENTIFICATION OF THE COMPANY</td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="30%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Company name</td>
                        <td colspan="3" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_name %></td>
                      </tr>
                      <tr>
                        <td width="30%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Telephone contact</td>
                        <td colspan="3" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_phone_number %></td>
                      </tr>
                      <tr>
                        <td width="30%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">General Manager</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_general_managers_name %></td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Email</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_general_managers_email %></td>
                      </tr>
                      <tr>
                        <td width="30%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;" valign="top">Human resources manager</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_hrm_name %></td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;" valign="top">Email</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333;" valign="top"><%= @record.cmp_hrm_email %></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">II. DATOS DE LA EMPRESA</td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Business name</td>
                        <td colspan="7" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.official_name_of_client %></td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Round</td>
                        <td colspan="7" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_business_plan %></td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">RUT</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.chilean_id_number %></td>
                        <td width="5%" style="font-size: 14px; color: #000; border: solid 1px #333;">-</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;">&nbsp;</td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Background</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_phone %></td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Fax</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_fax%></td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Address</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="3"><%= @record.cmp_address%></td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Number</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_phone_number %></td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Office</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.cmp_office%></td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Common</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="3"><%= @record.cmp_state%></td>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">City</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="3"><%= @record.cmp_city%></td>
                      </tr>
                      <tr>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="8">Indicate contact information for invoice delivery</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">First name</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="4"><%= @record.bill_receiver_name%></td>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Phone</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="2"><%= @record.bill_receiver_phone%></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td height="20">&nbsp;</td>
                </tr>

                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="80%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">TOTAL NUMBER OF EMPLOYEES (Consider ALL workers in the company, without discrimination by type of contract, position or area of work)</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.number_of_employees%></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td height="20">&nbsp;</td>
                </tr>

                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="50%" rowspan="3" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">If the company has branches, indicate the number of them in each location</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">Metropolitan region</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.affiliates_in_city%></td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">Other Regions</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.affiliates_in_state%></td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">Other countries</td>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.number_of_employees %></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">III. DATOS DEL CONTACTO <span style="font-weight: 400; font-size: 12px;">(Quien suscribe esta solicitud y es el contacto directo con GPTW Chile)</span></td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">First name</td>
                        <td colspan="2" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.primary_contact_person_name%></td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Phone</td>
                        <td width="20%" style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.primary_contact_person_phone%></td>
                      </tr>
                      <tr>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Cargo</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333;"><%= @record.primary_contact_person_role%></td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Email</td>
                        <td width="40%" style="font-size: 14px; color: #000; border: solid 1px #333;" colspan="2"><%= @record.primary_contact_person_email%></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">IV. PROYECTO <span style="font-weight: 400; font-size: 12px;">(Escriba la fecha de inicio de la medición y luego marque con una X la forma de aplicación)</span></td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="50%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Date Application Survey Workers</td>
                        <td colspan="6" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.date_of_service_provided %></td>
                      </tr>
                      <tr>
                        <td width="50%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Application Form Trust Index Survey</td>
                        <td style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Paper</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.survey_mode == "paper"? 'Yes' : "No" %></td>
                        <td style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Web</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.survey_mode == "web"? 'Yes' : "No" %></td>
                        <td style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Mix</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.survey_mode == "mix" ? 'Yes' : "No" %></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">V. PROPUESTA – FECHA:</td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td colspan="2" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 10px;">
                          <%= @record.description_of_service %>
                        </td>
                      </tr>
                      <tr>
                        <td width="85%" style="font-size: 12px; color: #000; border: solid 1px #333; text-align: right; font-style: italic;">
                          <span style="display: block; font-size: 16px; font-weight: 700; font-style: normal;">VALOR TOTAL DE LA PROPUESTA</span>
                          (*) Valores exentos de IVA
                        </td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.value_of_service %></td>
                      </tr>
                      <tr>
                        <td width="85%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: right;">Project duration</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;"><%= @record.service_duration %><%= @record.service_duration_parameter %></td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="padding: 30px 0 10px;">OK contract conditions</td>
                </tr>


                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">VIII. FORMA DE PAGO <span style="font-weight: 400; font-size: 12px;">(Indique con una X su preferencia)</span></td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Vale Vista</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Deposit in Cta. Current</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Other</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">Which?</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">IX. BILLING DATA</td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Business name</td>
                        <td colspan="7" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Round</td>
                        <td colspan="7" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">RUT</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">-</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Background</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Fax</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Address</td>
                        <td colspan="3" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Number</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="10%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Office</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Common</td>
                        <td colspan="3" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">City</td>
                        <td colspan="3" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td colspan="8" style="font-size: 14px; color: #000; border: solid 1px #333; font-weight: 700; text-align: left;">Indicate contact information for invoice delivery</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">First name</td>
                        <td colspan="4" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Phone</td>
                        <td colspan="3" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="20%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Mail electronic</td>
                        <td colspan="7" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">X. ORDEN DE COMPRA <span style="font-weight: 400; font-size: 12px;">(Indique con una X su preferencia)</span></td>
                </tr>
                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td rowspan="2" width="75%" style="font-size: 12px; color: #000; border: solid 1px #333; text-align: left;">Do you require a purchase order? <span style="font-weight: 700; font-size: 14px; text-decoration: underline; display: block;">IF YOU HAVE OC, PLEASE ATTACH IT WITH THIS SIGNED FORM.</span></td>
                        <td width="12%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Yes</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="12%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">No</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td height="20">&nbsp;</td>
                </tr>

                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td colspan="5" width="75%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left;">Enter contact information to manage the purchase order</td>
                      </tr>
                      <tr>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">First name</td>
                        <td width="50%" colspan="2" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Phone</td>
                        <td width="20%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Cargo</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                        <td width="15%" style="font-size: 14px; color: #000; background: #e0e0e0; border: solid 1px #333;">Email</td>
                        <td width="35%" colspan="2" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: center;">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" style="padding: 30px 0 10px; font-size: 18px; font-weight: bold;">XI. ACCEPTANCE</td>
                </tr>

                <tr>
                  <td style="border: solid 1px #333;">
                    <table cellspacing="5" cellpadding="5" border="0" width="100%">
                      <tr>
                        <td width="60%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: right;">Name of the person who accepts the quote</td>
                        <td width="40%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="60%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: right;">Charge of the person who accepts the quote</td>
                        <td width="40%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="60%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: right;">Date of acceptance</td>
                        <td width="40%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="60%" height="80" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: right;">Signature of the person who accepts the quote</td>
                        <td width="40%" height="80" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left;">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="font-size: 13px; font-style: italic; padding: 10px 0 0 0; font-weight: 700; text-align: center;">NOTE: IN THE EVENT THAT THE COMPANY ANNULATES THE REALIZATION OF THE PROJECT AFTER SENDING THE SIGNED ACCEPTANCE FORM, YOU SHALL PAY THE VALUE IN THE SAME WAY.</td>
                </tr>

                <tr>
                  <td height="20">&nbsp;</td>
                </tr>

                <tr>
                  <td style="background: #d9d9d9; padding: 10px; font-style: 16px; font-weight: 700; text-transform: uppercase;">BILLING DATA</td>
                </tr>

                <tr>
                  <td style="padding: 10px 0px;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">BUSINESS NAME</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Great Place To Work Chile SpA</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">RUT</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">76.204.419-6</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">FANTASY NAME</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Great Place To Work Chile SpA</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">GIRO</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Business Advisory Activities and Management</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td height="20">&nbsp;</td>
                </tr>

                <tr>
                  <td style="background: #d9d9d9; padding: 10px; font-style: 16px; font-weight: 700; text-transform: uppercase;">CONTACT INFORMATION</td>
                </tr>

                <tr>
                  <td style="padding: 10px 0px;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">ADDRESS</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Av. Vitacura 2736, Piso 16, Oficina 1603</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">COMUNA</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Las Condes</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">CIUDAD</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Santiago</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">REGION</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">Metropolitan region</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">PHONE</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">26508065, anexo 218</td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="25%" style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;">EMAIL</td>
                        <td width="15%">&nbsp;</td>
                        <td style="font-size: 14px; color: #000; border: solid 1px #333; text-align: left; padding: 5px;"><a href="#">leila.lasmar@greatplacetowork.com</a></td>
                      </tr>
                    </table>
                  </td>
                </tr>

              </table>
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>

</body>
</html>
