<%= form_for process, method: method, url: path do |form| %>
  <div class="box-body">
    <div class="form-group field col-lg-7">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', placeholder: "Enter name"  %>
      <p class='error'><%= show_errors(process, :name, "Name") %></p>
    </div>
  </div>

  <div class="box-footer">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <% if @process.new_record? %>
      <%= link_to 'Back', admin_processes_path, class: "btn btn-primary" %>
    <%else%>
      <%= link_to 'Show', admin_process_path(@process) , class: "btn btn-primary" %>
      <%= link_to 'Back', admin_processes_path, class: "btn btn-primary" %>
    <%end%>
  </div>

<%end%>
