<% content_for :processes_class, "active"%>
<section class="content-header">
  <h1>
    Edit Process
    <small>Preview</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Update Process</h3>
        </div>
        <%= render 'form', process: @process, method: 'patch', path: admin_process_path %>
      </div>
    </div>
  </div>
</section>
