<% content_for :processes_class, "active"%>
<section class="content-header">
  <h1>
    Process
    <small>Processes list</small>
  </h1>
  <ol class="breadcrumb">
    <%= link_to 'New Process', new_admin_process_path, class: "btn btn-block btn-primary" %>
  </ol>
</section>
<p id="notice"><%= notice %></p>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Processes</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th colspan="3"><center> Actions <Center></td>
            </tr>
            </thead>
            <tbody>
            <% @processes.each do |process| %>
              <tr class="clickable-row" data-href="<%= admin_process_path(process) %>">
                <td class="process"><%= process.name %></td>
                <td class="quick-actions"><%= link_to 'Edit', edit_admin_process_path(process) %></td>
                <td><%= link_to 'Destroy', admin_process_path(process), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </table>
          <%= will_paginate @processes, class: "pagination bottom-pagination"%>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(".clickable-row>td.process").click(function() {
      if($(this).hasClass('quick-actions')){
      }
      else{
        window.document.location = $(this).parent().data("href");
      }
    });
  });
</script>
