<% content_for :users_class, "active"%>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div> <p id="notice"><%= notice %></p> </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Process Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Name</th><td><%= @process.name %></td>
            </tr>
          </table>
          <%= link_to 'Edit', edit_admin_process_path(@process),  class: "btn btn-primary" %>
          <%= link_to 'Back', admin_processes_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<section>
