.overflow-y{overflow-y: auto;}

/*27-4-2018*/

fieldset.scheduler-border {
    border: solid 2px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 16px;
}

.general-dates{
  display: flex;
}

.general-dates .form-control{
  margin-right: 10px;
}

.error{color: red}


.pagination.bottom-pagination {position: absolute; right: 0}
.pagination.bottom-pagination span, .pagination.bottom-pagination em, .pagination.bottom-pagination a{padding: 6px 12px;
  background: #fafafa; color: #666; margin: 0px; border-radius:4px;}

.pagination.bottom-pagination span.current, .pagination.bottom-pagination em.current, .pagination.bottom-pagination a.current{background: #337ab7; color: #fff;}
.pagination.bottom-pagination span.disabled, .pagination.bottom-pagination a.disabled{cursor:not-allowed }
