@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url("glyphicons-halflings-regular.eot");
  src: font-url("glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), font-url("glyphicons-halflings-regular.woff2") format("woff2"), font-url("glyphicons-halflings-regular.woff") format("woff"), font-url("glyphicons-halflings-regular.ttf") format("truetype"), font-url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
