<%= form_for user, method: method, url: path do |form| %>
  <div class="box-body">
    <div class="form-group field col-lg-7">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class: 'form-control', placeholder: "Enter email"  %>
      <p class='error'><%= show_errors(user, :email, "Email") %></p>
    </div>
    <div class="form-group field col-lg-7">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :user_first_name, class: 'form-control', placeholder: "Enter First Name" %>
      <p class='error'><%= show_errors(user, :first_name, "First Name") %></p>
    </div>
    <div class="form-group field col-lg-7">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :user_last_name, class: 'form-control', placeholder: "Enter Last Name"  %>
      <p class='error'><%= show_errors(user, :last_name, "Last Name") %></p>
    </div>
    <div class="form-group field col-lg-7">
      <%= form.label :user_role, "Select User Role" %>
      <% if user.new_record? %>
        <%= form.select :user_role, @roles.collect { |r| [ r.name.capitalize, r.id ] }, {include_blank: "Select user role", :required => true }, { class: 'form-control select2', style: "width: 100%;"}   %>
      <% else %>
        <% role = user.roles.present? ? user.roles.first.id : nil %>
        <%= form.select :user_role, @roles.collect { |r| [ r.name.capitalize, r.id ] }, {selected: role, include_blank: "Select user role", :required => true }, { class: 'form-control select2', style: "width: 100%;"}   %>
      <% end %>
      <p class='error'><%= show_errors(user, :user_role, "User Role") %></p>
    </div>
  </div>

  <div class="box-footer">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <% if @user.new_record? %>
      <%= link_to 'Back', admin_users_path, class: "btn btn-primary" %>
    <%else%>
      <%= link_to 'Show', admin_user_path(@user) , class: "btn btn-primary" %>
      <%= link_to 'Back', admin_users_path, class: "btn btn-primary" %>
    <%end%>
  </div>

<%end%>
