<% content_for :users_class, "active"%>
<section class="content-header">
  <h1>
    User
    <small>Users list</small>
  </h1>
  <ol class="breadcrumb">
    <%= link_to 'New User', new_admin_user_path, class: "btn btn-block btn-primary" %>
  </ol>
</section>
<p id="notice"><%= notice %></p>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Users</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th colspan="3"><center> Actions <Center></td>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr class="clickable-row" data-href="<%= admin_user_path(user) %>">
                <td class="user"><%= user.email %></td>
                <td class="user"><%= user.first_name %></td>
                <td class="user"><%= user.last_name %></td>
                <td class="quick-actions"><%= link_to 'Edit', edit_admin_user_path(user) %></td>
                <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </table>
          <%= will_paginate @users, class: "pagination bottom-pagination"%>
        </div>
      </div>

    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(".clickable-row>td.user").click(function() {
      if($(this).hasClass('quick-actions')){
      }
      else{
        window.document.location = $(this).parent().data("href");
      }
    });
  });
</script>
