<% content_for :users_class, "active"%>
<section class="content-header">
  <h1>
    New User
    <small>Preview</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create New User</h3>
        </div>
        <%= render 'form', user: @user, method: 'post', path: admin_users_path %>
      </div>
    </div>
  </div>
</section>
