<% content_for :users_class, "active"%>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div> <p id="notice"><%= notice %></p> </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">User Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Email</th><td><%= @user.email %></td>
            </tr>
              <th>First Name</th><td><%= @user.first_name %></td>
            <tr>
            <tr>
              <th>Last Name</th><td><%= @user.last_name %></td>
            </tr>
            <tr>
              <th>UserRole</th><td><%= @user.role %></td>
            </tr>
          </table>
          <%= link_to 'Edit', edit_admin_user_path(@user),  class: "btn btn-primary" %>
          <%= link_to 'Back', admin_users_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<section>
