<div class="landing-page h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-6 col-12 hidden-md-down">
      <div class="landing-bg h-100"></div>
    </div>
    <div class="col-lg-6 col-12 text-center">
      <div class="content h-100">
        <%= image_tag("logo.png")%>
        <h3>CRM Great Place <span>to Work Chile</span></h3>
        <div class="form-group mx-auto">
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
            <% resource.errors.full_messages.each do  |message|%>
              <%= content_tag :div, message, class: "error" %>
            <% end %>
            <%= f.hidden_field :invitation_token, readonly: true %>
            <%= f.hidden_field :user_role, value: resource.roles.first.id %>

            <% if f.object.class.require_password_on_accepting %>
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
            <% end %>

            <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
