<%= form_for record, method: method, url: path do |form| %>
  <div class="box-body">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">IDENTIFICATION OF THE COMPANY</legend>
        <div class="form-group field col-lg-6">
          <%= form.label :cmp_name, 'Company name'  %><span class="error">*</span>
          <%= form.text_field :cmp_name, class: 'form-control', placeholder: "Enter company name" %>
          <p class='error'><%= show_errors(record, :cmp_name, "Company Name") %></p>
        </div>


        <div class="form-group field col-lg-6">
          <%= form.label :cmp_phone_number, 'Company phone number'  %><span class="error">*</span>
          <%= form.text_field :cmp_phone_number, class: 'form-control', placeholder: "Enter company phone number" %>
          <p class='error'><%= show_errors(record, :cmp_phone_number, "Company Phone Number") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :cmp_general_managers_name, 'Company Genaral Manager name'  %><span class="error">*</span>
          <%= form.text_field :cmp_general_managers_name, class: 'form-control', placeholder: "Enter company genaral manager name" %>
          <p class='error'><%= show_errors(record, :cmp_general_managers_name, "Company Genaral Manager Name") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :cmp_general_managers_email, 'Company Genaral Manager name'  %><span class="error">*</span>
          <%= form.text_field :cmp_general_managers_email, class: 'form-control', placeholder: "Enter company genaral manager email" %>
          <p class='error'><%= show_errors(record, :cmp_general_managers_email, "Company Genaral Manager email") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :cmp_hrm_name, 'Company Human Resorce Manager name'  %><span class="error">*</span>
          <%= form.text_field :cmp_hrm_name, class: 'form-control', placeholder: "Enter company human resorce manager name" %>
          <p class='error'><%= show_errors(record, :cmp_hrm_name, "Company Human Resorce Manager Name") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :cmp_hrm_email, 'Company Human Resorce Manager email'  %><span class="error">*</span>
          <%= form.text_field :cmp_hrm_email, class: 'form-control', placeholder: "Enter company human resorce manager email" %>
          <p class='error'><%= show_errors(record, :cmp_hrm_email, "Company Human Resorce Manager Email") %></p>
        </div>
    </fieldset>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">COMPANY DATA</legend>
      <div class="form-group field col-lg-6">
        <%= form.label :official_name_of_client %><span class="error">*</span>
        <%= form.text_field :official_name_of_client, class: 'form-control', placeholder: "Enter official name of client" %>
        <p class='error'><%= show_errors(record, :official_name_of_client, "Official Name of Client") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_business_plan, 'Company business plan'  %><span class="error">*</span>
        <%= form.text_field :cmp_business_plan, class: 'form-control', placeholder: "Enter company business plan" %>
        <p class='error'><%= show_errors(record, :cmp_business_plan, "Company Business Plan") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :chilean_id_number %><span class="error">*</span>
        <%= form.text_field :chilean_id_number, class: 'form-control', placeholder: "Enter chilean id number" %>
        <p class='error'><%= show_errors(record, :chilean_id_number, "Chilean ID Number") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_address, 'Company Address'  %><span class="error">*</span>
        <%= form.text_field :cmp_address, class: 'form-control', placeholder: "Enter company Address" %>
        <p class='error'><%= show_errors(record, :cmp_address, "Company Address") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_state, 'Company State'  %><span class="error">*</span>
        <%= form.text_field :cmp_state, class: 'form-control', placeholder: "Enter company State" %>
        <p class='error'><%= show_errors(record, :cmp_state, "Company State") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_city, 'Company City'  %><span class="error">*</span>
        <%= form.text_field :cmp_city, class: 'form-control', placeholder: "Enter company City" %>
        <p class='error'><%= show_errors(record, :cmp_city, "Company City") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_phone, 'Company Phone'  %><span class="error">*</span>
        <%= form.text_field :cmp_phone, class: 'form-control', placeholder: "Enter company Phone" %>
        <p class='error'><%= show_errors(record, :cmp_phone, "Company Phone") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_fax, 'Company Fax'  %><span class="error">*</span>
        <%= form.text_field :cmp_fax, class: 'form-control', placeholder: "Enter company Fax" %>
        <p class='error'><%= show_errors(record, :cmp_fax, "Company Fax") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_number, 'Company number'  %><span class="error">*</span>
        <%= form.text_field :cmp_number, class: 'form-control', placeholder: "Enter company number" %>
        <p class='error'><%= show_errors(record, :cmp_number, "Company Number") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :cmp_office, 'Company office'  %><span class="error">*</span>
        <%= form.text_field :cmp_office, class: 'form-control', placeholder: "Enter company office" %>
        <p class='error'><%= show_errors(record, :cmp_office, "Company Office") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :bill_receiver_name %><span class="error">*</span>
        <%= form.text_field :bill_receiver_name, class: 'form-control', placeholder: "Enter bill receiver name" %>
        <p class='error'><%= show_errors(record, :bill_receiver_name, "Bill Receiver Name") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :bill_receiver_phone %><span class="error">*</span>
        <%= form.text_field :bill_receiver_phone, class: 'form-control', placeholder: "Enter bill receiver phone" %>
        <p class='error'><%= show_errors(record, :bill_receiver_phone, "Bill Receiver Phone") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :number_of_employees %><span class="error">*</span>
        <%= form.number_field :number_of_employees, class: 'form-control', placeholder: "Enter number of employees" %>
        <p class='error'><%= show_errors(record, :number_of_employees, "Number of Employees") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :affiliates_in_city %><span class="error">*</span>
        <%= form.number_field :affiliates_in_city, class: 'form-control', placeholder: "Enter affiliates in city" %>
        <p class='error'><%= show_errors(record, :affiliates_in_city, "Affiliates in City") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :affiliates_in_state %><span class="error">*</span>
        <%= form.number_field :affiliates_in_state, class: 'form-control', placeholder: "Enter Affiliates in state" %>
        <p class='error'><%= show_errors(record, :affiliates_in_state, "Affiliates in State") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :affiliates_in_country %><span class="error">*</span>
        <%= form.number_field :affiliates_in_country, class: 'form-control', placeholder: "Enter affiliates in country" %>
        <p class='error'><%= show_errors(record, :affiliates_in_country, "Affiliates in Country") %></p>
      </div>
    </fieldset>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">CONTACT DATA</legend>
      <div class="form-group field col-lg-6">
        <%= form.label :primary_contact_person_name %><span class="error">*</span>
        <%= form.text_field :primary_contact_person_name, class: 'form-control', placeholder: "Enter primary contact person name" %>
        <p class='error'><%= show_errors(record, :primary_contact_person_name, "Primary Contact Person Name") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :primary_contact_person_phone %><span class="error">*</span>
        <%= form.text_field :primary_contact_person_phone, class: 'form-control', placeholder: "Enter primary contact person phone" %>
        <p class='error'><%= show_errors(record, :primary_contact_person_phone, "Primary Contact Person Phone") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :primary_contact_person_role %><span class="error">*</span>
        <%= form.text_field :primary_contact_person_role, class: 'form-control', placeholder: "Enter primary contact person role" %>
        <p class='error'><%= show_errors(record, :primary_contact_person_role, "Primary Contact Person Role") %></p>
      </div>

      <div class="form-group field col-lg-6">
        <%= form.label :primary_contact_person_email %><span class="error">*</span>
        <%= form.text_field :primary_contact_person_email, class: 'form-control', placeholder: "Enter primary contact person email" %>
        <p class='error'><%= show_errors(record, :primary_contact_person_email, "Primary Contact Person Email") %></p>
      </div>
    </fieldset>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">DRAFT</legend>
      <div class="form-group field col-lg-6">
        <%= form.label :date_of_service_provided %>
        <div class="general-dates">
          <%= form.date_select :date_of_service_provided, {}, class: 'form-control' %>
        </div>
      </div>
    </fieldset>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">PROPOSAL - DATE</legend>
        <div class="form-group field col-lg-6">
          <%= form.label :description_of_service %><span class="error">*</span>
          <%= form.text_area :description_of_service, class: 'form-control', placeholder: "Enter description of service" %>
          <p class='error'><%= show_errors(record, :description_of_service, "Description of Service") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :value_of_service %><span class="error">*</span>
          <%= form.text_field :value_of_service, class: 'form-control', placeholder: "Enter value of service" %>
          <p class='error'><%= show_errors(record, :value_of_service, "Value of Service") %></p>
        </div>

        <div class="form-group field col-lg-3">
          <%= form.label :service_duration_parameter %>
          <%= form.select :service_duration_parameter, Record.service_duration_parameters.keys.map{|r| [r.titleize, r]},{}, { class: 'form-control select2', style: "width: 100%;"}  %>
        </div>
        <div class="form-group field col-lg-3">
          <%= form.label :service_duration %>
          <%= form.select :service_duration, options_for_select(Record::DAYS), {}, class: 'form-control select2', placeholder: "Enter service duration" %>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :state %>
          <%= form.select :state, Record.states.keys.map{|r| [r.titleize, r]}, {}, { class: 'form-control select2', style: "width: 100%;"}  %>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :process_table_id, "Process" %>
          <%= form.select :process_table_id, ProcessTable.all.collect { |r| [ r.name, r.id ] }, {prompt: "Please select process"}, { class: 'form-control select2', style: "width: 100%;"}   %>
          <p class='error'><%= show_errors(record, :process_table_id, "Process") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :user_id %>
          <%= form.select :user_id, User.all.collect { |r| [ r.to_s, r.id ] }, {prompt: "Please select user"}, { class: 'form-control select2', style: "width: 100%;"}   %>
          <p class='error'><%= show_errors(record, :user_id, "User") %></p>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :company_id %><span class="error">*</span>
          <%= form.select :company_id, Company.all.collect { |c| [ c.cmp_name, c.id ] }, {}, { class: 'form-control select2', style: "width: 100%;"}   %>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :service_id, "Service Type" %><span class="error">*</span>
          <%= form.select :service_id, Service.all.map{|r| [r.name, r.id]}, {prompt: "Please select service type"}, { class: 'form-control select2', style: "width: 100%;"} %>
          <p class='error'><%= show_errors(record, :service_id, "Service") %></p>
        </div>

        <div class="form-group field col-lg-6 medicon-class">
          <%= form.label :number_of_segments %><span class="error">*</span>
          <%= form.number_field :number_of_segments, class: 'form-control', placeholder: "Enter number of segments" %>
          <p class='error'><%= show_errors(record, :number_of_segments, "Number of Segments") %></p>
        </div>

        <div class="form-group field col-lg-6 medicon-class">
          <%= form.label :survey_mode %>
          <%= form.select :survey_mode, Record.survey_modes.keys.map{|r| [r.titleize, r]}, {}, { class: 'form-control select2', style: "width: 100%;"}   %>
          <%= form.hidden_field :user_role, value: current_user.role %>
        </div>

        <div class="form-group field col-lg-6">
          <%= form.label :service_conditions %><span class="error">*</span>
          <%= form.text_area :service_conditions, class: 'form-control', placeholder: "Enter service conditions" %>
          <p class='error'><%= show_errors(record, :service_conditions, "Service conditions") %></p>
        </div>
      </fieldset>
  </div>

  <div class="box-footer">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <% if @record.new_record? %>
      <%= link_to 'Back', admin_records_path, class: "btn btn-primary" %>
    <%else%>
      <%= link_to 'Show', admin_record_path(@record) , class: "btn btn-primary" %>
      <%= link_to 'Back', admin_records_path, class: "btn btn-primary" %>
    <%end%>
  </div>

<% end %>

<script type="text/javascript">
    $(document).on('turbolinks:load', function() {
        $('#record_service_duration_parameter').on('change', function (e) {
          if($('#record_service_duration_parameter').val() == 'days'){
            $('#record_service_duration').html('');
            <% Record::DAYS.each do |day| %>
              $('#record_service_duration').append($('<option>', {
                value: <%= day %>,
                text : <%= day %>
              }));
            <% end %>
          }else if ($('#record_service_duration_parameter').val() == 'months') {
            $('#record_service_duration').html('');
            <% Record::MONTHS.each do |month| %>
              $('#record_service_duration').append($('<option>', {
                value: <%= month %>,
                text : <%= month %>
              }));
            <% end %>
          }else if ($('#record_service_duration_parameter').val() == 'years') {
            $('#record_service_duration').html('');
            <% Record::YEARS.each do |year| %>
              $('#record_service_duration').append($('<option>', {
                value: <%= year %>,
                text : <%= year %>
              }));
            <% end %>
          }
        })
    });

    $(document).on('turbolinks:load', function() {
      $(".medicon-class").hide();
      if ($("#record_service_id option:selected").text() == "Medicon"){
        $(".medicon-class").show();
      }
      $('#record_service_id').on('change', function (e) {
        if ($("#record_service_id option:selected").text() == "Medicon"){
          $(".medicon-class").show();
        }
        else {
          $(".medicon-class").hide();
        }
      })
    })

      $("#record_value_of_service").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            $("#errmsg").html("Digits Only").show().fadeOut("slow");
                   return false;
        }
       });
</script>
