<% content_for :records_class, "active"%>
<section class="content-header">
  <h1>
    Edit record
    <small>Preview</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Update record</h3>
        </div>
        <%= render 'form', record: @record, method: 'patch', path: admin_record_path %>
      </div>
    </div>
  </div>
</section>



<!-- <%#= link_to 'Show', admin_record_path(@record) %> |
<%#= link_to 'Back', admin_records_path %> -->
