<% content_for :records_class, "active"%>
<section class="content-header">
  <h1>
    Record
    <small>Records list</small>
  </h1>
  <ol class="breadcrumb">
    <%= link_to 'New Record', new_admin_record_path, class: "btn btn-block btn-primary" %>
  </ol>
</section>
<p id="notice"><%= notice %></p>

<h1>Records</h1>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Users</h3>
        </div>
        <div class="box-body overflow-y">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Company name</th>
                <th>Company phone number</th>
                <th>Company general managers name</th>
                <th>Company hrm name</th>
                <th>Company hrm email</th>
                <th>Official name of client</th>
                <th>Company business plan</th>
                <th>Chilean id number</th>
                <th>Company address</th>
                <th>Company state</th>
                <th>Company city</th>
                <th>Company phone</th>
                <th>Company fax</th>
                <th>Company number</th>
                <th>Company office</th>
                <th>Bill receiver name</th>
                <th>Bill receiver phone</th>
                <th>Number of employees</th>
                <th>Affiliates in city</th>
                <th>Affiliates in state</th>
                <th>Affiliates in country</th>
                <th>Primary contact person name</th>
                <th>Primary contact person phone</th>
                <th>Primary contact person role</th>
                <th>Primary contact person email</th>
                <th>Date of service provided</th>
                <th>Description of service</th>
                <th>Value of service</th>
                <th>Service duration</th>
                <th>State</th>
                <th>User</th>
                <th>Company</th>
                <th>Service type</th>
                <th>Number of segments</th>
                <th>Survey mode</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @records.each do |record| %>
                <tr class="clickable-row" data-href="<%= admin_record_path(record) %>">
                  <td class="record"><%= record.cmp_name %></td>
                  <td class="record"><%= record.cmp_phone_number %></td>
                  <td class="record"><%= record.cmp_general_managers_name %></td>
                  <td class="record"><%= record.cmp_hrm_name %></td>
                  <td class="record"><%= record.cmp_hrm_email %></td>
                  <td class="record"><%= record.official_name_of_client %></td>
                  <td class="record"><%= record.cmp_business_plan %></td>
                  <td class="record"><%= record.chilean_id_number %></td>
                  <td class="record"><%= record.cmp_address %></td>
                  <td class="record"><%= record.cmp_state %></td>
                  <td class="record"><%= record.cmp_city %></td>
                  <td class="record"><%= record.cmp_phone %></td>
                  <td class="record"><%= record.cmp_fax %></td>
                  <td class="record"><%= record.cmp_number %></td>
                  <td class="record"><%= record.cmp_office %></td>
                  <td class="record"><%= record.bill_receiver_name %></td>
                  <td class="record"><%= record.bill_receiver_phone %></td>
                  <td class="record"><%= record.number_of_employees %></td>
                  <td class="record"><%= record.affiliates_in_city %></td>
                  <td class="record"><%= record.affiliates_in_state %></td>
                  <td class="record"><%= record.affiliates_in_country %></td>
                  <td class="record"><%= record.primary_contact_person_name %></td>
                  <td class="record"><%= record.primary_contact_person_phone %></td>
                  <td class="record"><%= record.primary_contact_person_role %></td>
                  <td class="record"><%= record.primary_contact_person_email %></td>
                  <td class="record"><%= record.date_of_service_provided %></td>
                  <td class="record"><%= record.description_of_service %></td>
                  <td class="record"><%= record.value_of_service %></td>
                  <td class="record"><%= record.service_duration %> <%= record.service_duration_parameter %></td>
                  <td class="record"><%= record.state %></td>
                  <td class="record"><%= record.user.to_s %></td>
                  <td class="record"><%= record.company.cmp_name %></td>
                  <td class="record"><%= record.service.name if record.service.present?%></td>
                  <td class="record"><%= record.number_of_segments %></td>
                  <td class="record"><%= record.survey_mode %></td>
                  <td class= "quick-actions"><%= link_to 'Edit', edit_admin_record_path(record) %></td>
                  <td><%= link_to 'Destroy', admin_record_path(record), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @records, class: "pagination bottom-pagination"%>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $(".clickable-row>td.record").click(function() {
      if($(this).hasClass('quick-actions')){
      }
      else{
        window.document.location = $(this).parent().data("href");
      }
    });
  });
</script>
