<% content_for :records_class, "active"%>
<section class="content-header">
  <h1>
    New Record
    <small>Preview</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create New Record</h3>
        </div>
        <%= render 'form', record: @record, method: 'post', path: admin_records_path %>        
      </div>
    </div>
  </div>
</section>
