<% content_for :records_class, "active"%>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div> <p id="notice"><%= notice %></p> </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">User Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">IDENTIFICATION OF THE COMPANY</legend>
            <table class="table table-hover">
              <tr>
                <th>Company name:</th>
                <td><%= @record.cmp_name %></td>
              </tr>

              <tr>
                <th>Company phone number:</th>
                <td><%= @record.cmp_phone_number %></td>
              </tr>

              <tr>
                <th>Company general managers name:</th>
                <td><%= @record.cmp_general_managers_name %></td>
              </tr>

              <tr>
                <th>Company Human Resorce Manager name:</th>
                <td><%= @record.cmp_hrm_name %></td>
              </tr>

              <tr>
                <th>Company Human Resorce Manager email:</th>
                <td><%= @record.cmp_hrm_email %></td>
              </tr>
            </table>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">COMPANY DATA</legend>
            <table class="table table-hover">
              <tr>
                <th>Official name of client:</th>
                <td><%= @record.official_name_of_client %></td>
              </tr>

              <tr>
                <th>Company business plan:</th>
                <td><%= @record.cmp_business_plan %></td>
              </tr>

              <tr>
                <th>Chilean id number:</th>
                <td><%= @record.chilean_id_number %></td>
              </tr>

              <tr>
                <th>Company address:</th>
                <td><%= @record.cmp_address %></td>
              </tr>

              <tr>
                <th>Company state:</th>
                <td><%= @record.cmp_state %></td>
              </tr>

              <tr>
                <th>Company city:</th>
                <td><%= @record.cmp_city %></td>
              </tr>

              <tr>
                <th>Company phone:</th>
                <td><%= @record.cmp_phone %></td>
              </tr>

              <tr>
                <th>Company fax:</th>
                <td><%= @record.cmp_fax %></td>
              </tr>

              <tr>
                <th>Company number:</th>
                <td><%= @record.cmp_number %></td>
              </tr>

              <tr>
                <th>Company office:</th>
                <td><%= @record.cmp_office %></td>
              </tr>

              <tr>
                <th>Bill receiver name:</th>
                <td><%= @record.bill_receiver_name %></td>
              </tr>

              <tr>
                <th>Bill receiver phone:</th>
                <td><%= @record.bill_receiver_phone %></td>
              </tr>

              <tr>
                <th>Number of employees:</th>
                <td><%= @record.number_of_employees %></td>
              </tr>

              <tr>
                <th>Affiliates in city:</th>
                <td><%= @record.affiliates_in_city %></td>
              </tr>

              <tr>
                <th>Affiliates in state:</th>
                <td><%= @record.affiliates_in_state %></td>
              </tr>

              <tr>
                <th>Affiliates in country:</th>
                <td><%= @record.affiliates_in_country %></td>
              </tr>
            </table>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">CONTACT DATA</legend>
            <table class="table table-hover">
              <tr>
                <th>Primary contact person name:</th>
                <td><%= @record.primary_contact_person_name %></td>
              </tr>

              <tr>
                <th>Primary contact person phone:</th>
                <td><%= @record.primary_contact_person_phone %></td>
              </tr>

              <tr>
                <th>Primary contact person role:</th>
                <td><%= @record.primary_contact_person_role %></td>
              </tr>

              <tr>
                <th>Primary contact person email:</th>
                <td><%= @record.primary_contact_person_email %></td>
              </tr>
            </table>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">DRAFT</legend>
            <table class="table table-hover">
              <tr>
                <th>Date of service provided:</th>
                <td><%= @record.date_of_service_provided %></td>
              </tr>
              <tr>
                <th>Survey mode:</th>
                <td><%= @record.survey_mode.capitalize if @record.survey_mode.present? %></td>
              </tr>
            </table>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">PROPOSAL - DATE</legend>
            <table class="table table-hover">
              <tr>
                <th>Description of service:</th>
                <td><%= @record.description_of_service %></td>
              </tr>

              <tr>
                <th>Value of service:</th>
                <td><%= @record.value_of_service %></td>
              </tr>

              <tr>
                <th>Service duration:</th>
                <td><%= @record.service_duration %> <%= @record.service_duration_parameter %></td>
              </tr>

              <tr>
                <th>State:</th>
                <td><%= @record.state.capitalize if @record.state.present? %></td>
              </tr>

              <tr>
                <th>User:</th>
                <td><%= @record.user.to_s %></td>
              </tr>

              <tr>
                <th>Company:</th>
                <td><%= @record.company.cmp_name %></td>
              </tr>

              <tr>
                <th>Service type:</th>
                <td><%= @record.service.name if @record.service.present? %></td>
              </tr>

              <tr>
                <th>Number of segments:</th>
                <td><%= @record.number_of_segments %></td>
              </tr>
            </table>
          </fieldset>
          <%= link_to 'Edit', edit_admin_record_path(@record),  class: "btn btn-primary" %>
          <%= link_to 'Back', admin_records_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<section>
