
/* 1024 */

@media (max-width: 1199px) {

}


/* 768 */

@media (max-width: 991px) {
	.landing-page {background:url(/assets/landing-bg.jpg) 50% 50% no-repeat; background-size: cover;}
	.landing-page:before {content: ''; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: -moz-linear-gradient(-45deg, rgba(238,88,111,0.8) 0%, rgba(241,111,79,0.8) 100%); background: -webkit-linear-gradient(-45deg, rgba(238,88,111,0.8) 0%,rgba(241,111,79,0.8) 100%); background: linear-gradient(135deg, rgba(238,88,111,0.8) 0%,rgba(241,111,79,0.8) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccee586f', endColorstr='#ccf16f4f',GradientType=1 );}
	.landing-page .content {background: none;}
	.landing-page .content img {height: auto;}
	.landing-page .content h3 {color: #fff;}
	.landing-page .content h3:before, .landing-page .content h3:after, .landing-page .content h3 span:before, .landing-page .content h3 span:after {border-color: #fff;}


	/* header */

	.navbar-toggler {line-height: 1.4;}
	header.navbar .navbar-brand img {height: 60px;}
	header.navbar .navbar-collapse {position: absolute; top: 100%; left: 0px; right: 0px; background: #fff; box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);}
	header.navbar ul.navbar-top {margin: 10px 0px; text-align: center; display: block;}
	header.navbar ul.navbar-top li {display: block;}
	header.navbar ul.navbar-top li a {display: block;}
	header.navbar .dropdown {display: none;}

	.main {margin: 60px 0 0 0;}
	.main #chartContainer {height: 320px;}

}

/* 736 */

@media (max-width: 767px) {
	.form-control {height: 50px;}
	.landing-page .content img {height: 8em;}
	.landing-page .content h3 {margin: 10px auto 20px; padding: 0px;}

	.main .records-bg .table.table-striped thead tr th, .main .records-bg .table.table-striped tbody tr td {padding:0.75rem 20px;}
}

/* 414 */

@media (max-width: 575px) {
	.landing-page .content img {height: 25em;}
	.landing-page .content h3 {max-width: 100%; margin: 20px 15px; font-size: 32px; padding: 10px 0px;}
	.landing-page .content h3 span {font-size: 27px;}
	.landing-page .content .form-group {max-width: inherit; margin: 0 15px !important;}

	.bg-inverse {padding: 10px;}
	.wrapper {padding: 0px;}
	.main .bar-right .filter-box a {width: 40px; height: 40px; line-height: 40px; text-align: center; padding: 0px;}
	.main .bar-right .filter-box a i {margin: 0px;}
	.main .bar-right .filter-box a span {display: none;}
	.main .bar-right .filter-box a i.fa-angle-down {display: none;}
	.main .bar-right .filter-box.show #accordion {width: 24rem;}
	.main .bar-right .filter-box #accordion .card .card-header a.card-link {height: auto;}
	.main .bar-right .filter-box #accordion .card .card-header a.card-link span {display: block; text-align: left;}

	.main #chartContainer {height: 250px;}

	.main .records-bg h3 {padding: 5px 0 10px 10px;}
	.main .records-bg .table.table-striped thead tr th, .main .records-bg .table.table-striped tbody tr td {padding: 0.75rem 10px;}
	.main .records-bg .table.table-striped thead tr th {font-size: 13px;}
	.main .records-bg .table.table-striped tbody tr td {font-size: 12px;}

	footer {padding-top: 0; position: relative; padding-bottom: 20px; font-size: 11px;}

}

/* 320 */

@media (max-width: 360px) {
	.landing-page .content img {height: 15em;}
	.landing-page .content h3 {margin: 20px 15px; font-size: 28px; padding: 10px 0px;}
	.landing-page .content h3 span {font-size: 21px;}
	.landing-page .content .form-group {max-width: inherit; margin: 0 15px !important;}
	.landing-page .content .btn {position: relative; top: auto; right: auto; margin-top:20px;}

	.main .bar-right .filter-box.show #accordion {width: 18rem;}
	.main .records-bg .table.table-striped thead tr th, .main .records-bg .table.table-striped tbody tr td {padding: 0.50rem 5px;}
}
