html, body {height: 100%;}
body {padding: 0px; margin: 0px; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 14px; background: #f9f9f9;}


.wrapper {min-height:100%; position: relative; padding: 0 0 100px;}

.bg-inverse {border-radius: 5px; background: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); margin-bottom: 40px; padding: 20px;}

.btn-primary {background: #002171; border-radius: 5px; padding: 10px 20px; text-transform: uppercase; font-size: 14px; color: #fff; border: 0px;}
.btn-primary:focus {box-shadow:0 0 0 0rem rgba(0, 123, 255, 0);}

.form-control {border-radius:5px; height: 60px; border: solid 1px #777; padding: 10px 30px; margin: 0px 0 15px 0;}
.form-control:focus {box-shadow:0 0 0 0rem rgba(0, 123, 255, 0);}


select {-webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';}
select::-ms-expand {display: none;}
select.form-control {background: #efefef asset-url("select-arrow.png") right center no-repeat; border: 0px; font-size: 16px; color: #777777; font-weight: 400; padding: 8px 20px; cursor: pointer;}
select.form-control:focus {background-color: #efefef;}


/* landing */

.landing-page .landing-bg {display: block; background: asset-url("landing-bg.jpg") 50% 50% no-repeat; background-size: cover; position: relative;}
.landing-page .landing-bg:before {content: ''; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: -moz-linear-gradient(-45deg, rgba(238,88,111,0.8) 0%, rgba(241,111,79,0.8) 100%); background: -webkit-linear-gradient(-45deg, rgba(238,88,111,0.8) 0%,rgba(241,111,79,0.8) 100%); background: linear-gradient(135deg, rgba(238,88,111,0.8) 0%,rgba(241,111,79,0.8) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccee586f', endColorstr='#ccf16f4f',GradientType=1 );}
.landing-page .content {padding: 0; background: #fff;}
.landing-page .content img {max-width: 100%; height: auto;}
.landing-page .content h3 { margin: 40px auto; max-width: 375px; text-transform: uppercase; font-size: 36px; color: #777777; line-height: 38px; padding: 15px 0; position: relative;}
.landing-page .content h3:before, .landing-page .content h3:after, .landing-page .content h3 span:before, .landing-page .content h3 span:after {content: ''; position: absolute; left: 0px; top: 0px; border: solid 1px #777; border-right: 0px; border-bottom: 0px; width: 10px; height: 10px;}
.landing-page .content h3:after {left: auto; right: 0px; border-right: solid 1px #777; border-left: 0px;}
.landing-page .content h3 span:before {border-bottom: solid 1px #777; border-top: 0px; bottom: 0px; top: auto;}
.landing-page .content h3 span:after {left: auto; right: 0px; border-right: solid 1px #777; border-bottom: solid 1px #777; border-left: 0px; border-top: 0px; bottom: 0px; top: auto;}
.landing-page .content h3 span { display: block; font-size: 31px; font-weight: 300; letter-spacing: 6.5px;}
.landing-page .content .form-group {max-width: 460px; position: relative;}


/* header */

header.navbar {background: #fff; box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1); padding: 0px;}
header.navbar .navbar-brand {padding: 0px; margin: 0px;}
header.navbar .navbar-brand img {height: 80px;}
header.navbar ul.navbar-top {margin: 0px; padding: 0px; display: flex; list-style: none;}
header.navbar ul.navbar-top li {position: relative;}
header.navbar ul.navbar-top li a {font-size: 16px; padding: 10px 15px; color: #999; text-decoration: none;}
header.navbar ul.navbar-top li a:hover, header.navbar ul.navbar-top li.active a {color: #002171;}
header.navbar ul.navbar-top li a:hover:before, header.navbar ul.navbar-top li.active:before {content: ''; position: absolute; left:50%; transform: translateX(-50%); bottom: -5px; width: 5px; height: 5px; background: #002171; border-radius: 50%;}

header.navbar .dropdown {margin-right: 15px}
header.navbar .dropdown .avater {font-size: 14px; color: #777; text-decoration: none; font-weight: 300; line-height: 48px;}
header.navbar .dropdown .avater .avater-img {width: 48px; height: 48px; background: #efefef; float: right; text-align: center; margin:0 0 0 10px; border-radius: 50%; font-size: 20px; overflow: hidden;}
header.navbar .dropdown .dropdown-menu { left: auto; right: 0px; top: 62px; padding: 0px; border: 0px; border-radius: 0 0 5px 5px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); min-width: 12rem;}
header.navbar .dropdown .dropdown-menu li {display: block;}
header.navbar .dropdown .dropdown-menu li a {display: block; font-size: 16px; color: #777;  padding: 20px; line-height: 1; text-decoration: none;}
header.navbar .dropdown .dropdown-menu li a span { float: right;}
header.navbar .dropdown .dropdown-menu li a:hover {background: #f3f3f3; text-decoration: none;}


/* main */

.main {margin: 80px 0 0 0;}
.main h2 {margin: 28px 0px; font-size: 24px; color: #333; font-weight: 700;}
.main h2 span {display: block; font-size: 14px; color: #999; font-weight: 300;}
.main .bar-right {margin: 28px 0px; display: flex; float: right;}
.main .bar-right .form-group.select {width: 270px; margin: 0px 20px 0 0;}

.main .bar-right .filter-box {position: relative;}
.main .bar-right .filter-box a {background: #eeeeee; padding:12px 17px; width: 130px; color: #777; position: relative; line-height: 1; text-align: left;}
.main .bar-right .filter-box.show a {background: #002171; color: #fff;}
.main .bar-right .filter-box a i {margin-right: 8px;}
.main .bar-right .filter-box a i.fa-angle-down {position: absolute; right: 15px; font-size: 12px; margin-right: 0px; top: 14px;}
.main .bar-right .filter-box #accordion {display: none; position: absolute; right: 0px; top: 50px; z-index: 9; width: 25rem; background: #fff; border-radius: 5px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); overflow: hidden; z-index: 9;}
.main .bar-right .filter-box #accordion .card {border: 0px; margin: 0px;}
.main .bar-right .filter-box #accordion .card:last-child {margin: 0px;}
.main .bar-right .filter-box #accordion .card .card-header {border: 0px; padding: 0;}
.main .bar-right .filter-box #accordion .card .card-header a.card-link {display: block; padding: 0px 20px; background: #777777; width: auto; font-size: 16px; color: #fff; line-height: 50px; position: relative;}
.main .bar-right .filter-box #accordion .card .card-header a.card-link:before {position: absolute; right: 15px;}
.main .bar-right .filter-box #accordion .card .card-header a.card-link span {font-family: 'Lato', sans-serif; font-weight: 400;}
.main .bar-right .filter-box #accordion .card .card-header a.card-link i {position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}
.main .bar-right .filter-box #accordion .card .card-header a.card-link.collapsed {background: #f9f9f9; color: #777;}
.padding-15{padding: 15px !important}
.year-list{height: 300px; overflow-y: scroll;}
#collapseThree .col-md-12{padding-left: 0; padding-right: 0;}



.main .bar-right .filter-box #accordion .card .form-group {position: relative; margin: 0 0 15px 0px; width: auto;}
.main .bar-right .filter-box #accordion .card .form-group input {position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; margin: 0px; border: 0px; background: none; opacity: 0; width: 100%; height: 100%; z-index: 9;}
.main .bar-right .filter-box #accordion .card .form-group input + label {padding: 0 0 0 40px; margin: 0px; display: block; font-size: 13px; color: #777; line-height: 25px; font-weight: 400; cursor: pointer;}
.main .bar-right .filter-box #accordion .card .form-group input + label:before {content: ''; position: absolute; left: 0px; top: 0px; width: 25px; height: 25px; border: solid 1px #777; border-radius: 5px; background: #fff;}
.main .bar-right .filter-box #accordion .card .form-group input:checked + label:before {content: ''; border: solid 1px #002171 !important; color: #002171; font-size: 11px; background: #fff asset-url("check-icon.png") 0 0 no-repeat !important;}
.main .bar-right .filter-box.show #accordion {display: block;}





.main #chartContainer {height: 455px; width: 100%;}

.main .records-bg h3 {font-size: 18px; color: #777; font-weight: 700; line-height: 1; padding: 5px 0 20px 10px; margin: 0px 0 10px; border-bottom: solid 1px #e4e4e4;}
.main .records-bg .table.table-striped {margin: 0px;}
.main .records-bg .table.table-striped tbody tr {background: #fff;}
.main .records-bg .table.table-striped tbody tr:nth-of-type(2n+1) {background: #f9f9f9;}
.main .records-bg .table.table-striped thead tr th, .main .records-bg .table.table-striped tbody tr td {padding: 0.75rem 40px; border: 0px; font-weight: 400; color: #777777;}
.main .records-bg .table.table-striped thead tr th {font-size: 16px;}
.main .records-bg .table.table-striped tbody tr td {font-size: 14px;}
.main .records-bg .table.table-striped tbody tr td:nth-child(2) {color: #e50000;}
.main .records-bg .table.table-striped thead tr th:last-child, .main .records-bg .table.table-striped tbody tr td:last-child {text-align: center;}
.main .records-bg .table.table-striped tbody tr td a {color: #777; text-decoration: none;}

/* Company - name */

.timeline-bg {display: block;}
.timeline-bg .timeline-top {display: flex; border-bottom: solid 1px #e4e4e4;}
.timeline-bg .timeline-top .nav-tabs {margin: 0px; padding: 0px; border: 0px;}
.timeline-bg .timeline-top .nav-tabs li {margin: 0px;}
.timeline-bg .timeline-top .nav-tabs li a {padding: 16px 18px; display: block; text-decoration: none; font-weight: 600; font-size: 14px; color: #6f6e6e; border: 0px; border-radius: 0px;}
.timeline-bg .timeline-top .nav-tabs li a.active {color: #fff; background-color: #171f2a;}

.timeline-bg .timeline-top .nav-tabs li a.hoja{padding:16px 10px;}

.timeline-bg .timeline-top .time-list {margin: 0px; padding: 0px;}
.timeline-bg .timeline-top .time-list ul {margin: 0px; padding: 0px; list-style: none; display: flex;}
.timeline-bg .timeline-top .time-list ul li {margin: 0 12px; padding: 0px;}
.timeline-bg .timeline-top .time-list ul li a {margin: 0px; padding: 14px 0; font-size: 14px; color: #888888; text-decoration: none; display: block; border-bottom: solid 1px #fff; line-height: 1;}
.timeline-bg .timeline-top .time-list ul li a:hover, .timeline-bg .timeline-top .time-list ul li a.active {color: #e60000; border-color: #e60000;}

.timeline-bg .timeline-top .create-btn {padding: 8px 25px; height: 40px;}


.timeline-bg .timeline-wrap {display: block; height: 850px; overflow-y: auto; overflow-x: hidden; position: relative; margin: 35px 0 0 0;}
.timeline-bg .timeline-wrap .title-bar {display: block; position: relative; margin: 0 0 5px 0; z-index: 3;}
.timeline-bg .timeline-wrap .title-bar span {display: inline-block; background: #fff; font-size: 18px; color: #e60000; padding: 10px 0px;}
.timeline-bg .timeline-wrap .title-bar span:before {content: ''; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0px; width: 5px; height: 5px; background: #e60000; border-radius: 5px;}

.timeline-bg .timeline-wrap .timeline {margin: 0px; padding: 0px; list-style: none;}
.timeline-bg .timeline-wrap .timeline:before {content: ''; position: absolute; left: 50%; top: 0px; bottom: 0px; width: 1px; background: asset-url("dashed-y.png") 0 0 repeat-y; transform: translateX(-50%); z-index: 1;}
.timeline-bg .timeline-wrap .timeline > li {margin-bottom: 20px; position: relative; width: 40%; float: left; clear: left; }
.timeline-bg .timeline-wrap .timeline > li.timeline-inverted {float: right; clear: right;}

.timeline-bg .timeline-wrap li .card {background-color: transparent; border-color: rgba(119, 119, 119, 0.3); border-radius: 0px; padding: 30px; margin: 0; position: relative; text-align: center; display: block;}
.timeline-bg .timeline-wrap li:nth-child(2) {margin-top: 75px;}
.timeline-bg .timeline-wrap li .card:after {content: ''; background: asset-url("dashed-x.png") 0 0 repeat; width: 85px; height: 1px; position: absolute; right: -85px; top: 50px;}
.timeline-bg .timeline-wrap li .card:before {content: ''; width: 20px; height: 20px; position: absolute; right: -100px; top: 40px; border-radius: 50%; z-index: 9; border:solid 1px #ccc; box-shadow: inset 0 0 0 5px #fff;}
.timeline-bg .timeline-wrap li:nth-child(2n+2) .card:before {left: -98px; right: auto;}
.timeline-bg .timeline-wrap li:nth-child(2n+2) .card:after {left: -85px; right: auto;}

.timeline-bg .timeline-wrap li .card.bg-gray {background-color: rgba(204, 204, 204, 0.3);}
.timeline-bg .timeline-wrap li .card.bg-gray:before {background-color:#ccc;}
.timeline-bg .timeline-wrap li .card.bg-blue {background-color: rgba(165, 196, 231, 0.3);}
.timeline-bg .timeline-wrap li .card.bg-blue:before {background-color:#a5c4e7;}
.timeline-bg .timeline-wrap li .card.bg-green {background-color: rgba(168, 207, 150, 0.3);}
.timeline-bg .timeline-wrap li .card.bg-green:before {background-color:#a8cf96;}

.timeline-bg .timeline-wrap li .card h5 {margin: 0px 0 10px; font-size: 16px; color: #333; font-weight: 700; text-align: left;}
.timeline-bg .timeline-wrap li .card ul {margin: 0px; padding: 0px; list-style: none; text-align: left;}
.timeline-bg .timeline-wrap li .card ul li {margin: 0px; padding: 0px; font-size: 13px; color: #888; line-height: 26px;}
.timeline-bg .timeline-wrap li .card ul li i {margin: 0px 5px 0 0; color: #002171; font-size: 16px;}
.timeline-bg .timeline-wrap li .card .right {position: absolute; right: 30px; top: 30px; width: 50%; text-align: right; font-size: 12px; color: #888;}
.timeline-bg .timeline-wrap li .card .right span {display: block; font-size: 30px; color: #8200e6; font-weight: 900; line-height: 1}
.timeline-bg .timeline-wrap li .card .btn { margin-top: 30px; width: auto; }


.timeline-bg .hoja-main {display: block; padding-top: 20px;}
.timeline-bg .hoja-main .nav-tabs {display: block; border: 0px;}
.timeline-bg .hoja-main .nav-tabs li {display: block; margin-bottom: 20px;}
.timeline-bg .hoja-main .nav-tabs li:last-child {margin-bottom: 0;}
.timeline-bg .hoja-main .nav-tabs li a {display: block; border-width: 1px; border-color: rgba(119, 119, 119, 0.3); border-radius: 0px; padding: 25px; font-size: 24px; color: #333; font-weight: 700; position: relative; line-height: 36px; min-height: 126px;}
.timeline-bg .hoja-main .nav-tabs li a i.fa-edit {position: absolute; right: 15px; top: 20px;}
.timeline-bg .hoja-main .nav-tabs li a i.fa-exclamation-triangle {position: absolute; right: 15px; bottom: 20px; color: #ff0000;}
.timeline-bg .hoja-main .nav-tabs li a.bg-gray {background-color: rgba(204, 204, 204, 0.3);}
.timeline-bg .hoja-main .nav-tabs li a.bg-red {background-color: rgba(230, 0, 0, 0.3);}
.timeline-bg .hoja-main .nav-tabs li a.bg-green {background-color: rgba(168, 207, 150, 0.3);}

.timeline-bg .hoja-main .tab-content {overflow-y: auto; overflow-x: hidden; height: 675px;}
.timeline-bg .hoja-main .tab-content .form-group {margin-bottom: 20px;}
.timeline-bg .hoja-main .tab-content .form-group label {display: block; font-size: 18px; color: #0c2b78; margin: 0 0 10px 0; font-weight: 500;}
.timeline-bg .hoja-main .tab-content .form-group .form-control {border-radius: 10px; padding: 10px; font-size: 14px; color: #444; height: 40px; margin: 0px;}
.timeline-bg .hoja-main .tab-content .form-group .form-control.height-big {height: 120px; padding: 15px;}





/* footer */

footer {font-size: 14px; color: #777; font-weight: 400; padding: 40px 0px; position: absolute; left: 0px; right: 0px; bottom: 0px;}


/*---------------8/5----------------*/
.bkg-gray{background: rgba(204, 204, 204, 0.3);}
.list-box{padding: 15px; float: left; width: 100%; text-align: center; margin: 15px 0px; min-height: 235px;}
.list-box img{margin-bottom: 10px;}
.list-box p{float: left; text-align: left; width: 100%; margin: 3px 0;}
.list-detail p{color: black;}

span.s-circle{width: 30px; height: 30px; border-radius: 50%; float: right;}
span.s-circle-red{border: 2px solid red;}
span.s-circle-green{border: 2px solid green;}
span.s-circle-blue{border: 2px solid blue;}
span.s-circle-gray{border: 2px solid gray;}
span.s-circle-yellow{border: 2px solid yellow;}

.port_pagination{float: right;}
.port_pagination a, .port_pagination em, .port_pagination span{margin: 0 4px; padding: 3px 7px; border: 1px solid #dee2e6; color: #6c757d; padding: .5rem .75rem;}
.port_pagination a.current, .port_pagination span.current, .port_pagination em.current{color: #fff;background-color: #007bff;border-color: #007bff;}
.port_pagination span.disabled{cursor: not-allowed;}


#fileselector {
    margin: 10px; border: 1px solid #888; border-radius: 3px; width: 100%; float: left; margin-left: 0;position: relative;
}
#fileselector input{width: 100%;opacity: 0;position: absolute;height: 100%;}
#fileselector label{margin-bottom: 0;}
#upload-file-selector {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}

.record_detail .form-control{border-radius: inherit; height: inherit; border: 1px solid #ced4da; padding: .375rem .75rem; margin: inherit;}
.info-log{float: left; width: 100%; border: 1px solid #ced4da;}

.save{padding: 6px 10px; border-radius: 0; font-size: 14px; margin-right: 15px; margin-bottom: 15px;}
.m-t-10{margin-top: 10px !important;}

.form-control.small-field,.timeline-bg .hoja-main .tab-content .form-group .form-control.company-date{height: 35px;margin-right: 5px;}
.timeline-bg .form-inline.form-group .service-date{padding: 8px 40px 8px 20px;line-height: 1.3}
.timeline-bg .hoja-main .tab-content .form-group .form-control.company-date{ padding: 0 30px 0 10px;}
.error{color: red}


#company_history_date_of_service_provided_1i, #company_history_service_start_date_1i, #company_history_service_end_date_1i{width: 33.3%}
#company_history_date_of_service_provided_2i, #company_history_service_start_date_2i, #company_history_service_end_date_2i{width: 33.3%}
#company_history_date_of_service_provided_3i, #company_history_service_start_date_3i, #company_history_service_end_date_3i{width: 29%}
#environment select.company-date, #environment select.form-control{background-color:#fff; border: 1px solid #ddd; border-radius:5px !important;}
.timeline-bg .hoja-main .tab-content .form-group .form-control{border-radius: 5px; border: 1px solid #ddd;}
.timeline-bg .hoja-main .tab-content .form-group textarea.form-control{min-height: 100px !important}

.botom-btn{display: block; text-align: center !important; padding: 30px 0 0 0}
.btn.save-btn{display: inline-block;}

.new-record-last label{display: block;font-size: 16px;color: #0c2b78; font-weight:600; margin: 0 0 10px 0;}
.new-record-last .form-control{background-color:#fff; border: 1px solid #ddd; font-size: 14px;border-radius:5px !important; padding: 10px !important; height: 40px; margin-bottom: 20px; color: #333; font-weight: normal;}

.nav.nav-tabs.mr-auto{float: left; width: 25%;}

.year-slide{float: left; width: 52%;margin-right: 10px; background: #ededed;height: 46px; border: 1px solid #ddd}
.year-slide .owl-carousel .owl-stage-outer{z-index: 599; position: inherit;}
.year-slide .owl-carousel .owl-dots{display: none;}
.year-slide .owl-carousel .owl-stage-outer .owl-item .item a{font-size: 13px; color: #000 !important; display: block; text-align: center; cursor: pointer; z-index: 59999}
.year-slide .owl-carousel .owl-stage-outer .owl-item .item a:hover{text-decoration: none;}
.year-slide .owl-carousel .owl-stage-outer .owl-item{margin-top: 13px; }
.year-slide .owl-carousel .owl-stage-outer .owl-item .item a:focus{color: #002171 !important;font-size: 15px;font-weight: bold;text-decoration: underline;}
.year-slide .owl-carousel .owl-nav {display: block !important;  width: 100%;}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span, .owl-carousel button.owl-dot span{font-size: 30px; padding: 10px; line-height: px;}
.owl-carousel .owl-nav button.owl-prev{left: 0;position: absolute; top:0;z-index: 9999; background: #888 !important; color: #fff !important;}
.owl-carousel .owl-nav button.owl-next{right: 0 !important;position: absolute; top:0;z-index: 9999;position: absolute; background: #888 !important; color: #fff !important; padding: 10px !important;}
.add-year{padding: 10px; background: #ededed; color: #000; font-size: 15px; height: 46px}
.add-year:hover{text-decoration: none;}

.create-new-btn{position: absolute; right: 30px;}

.info-log .form-control{background-color: #fff; border-radius: 5px; color: #333; border: 1px solid #ddd;}
.info-log .form-control:focus, .info-log select.form-control:focus{background-color: none;}
.info-log label{font-size: 16px;color: #0c2b78;}
.info-log .nav.nav-tabs li a{text-transform: uppercase;font-weight: 600;}
.new-record-last{height: 590px; overflow-y: scroll; overflow-x: hidden; border: 1px solid #ededed; padding:15px; box-sizing: border-box; margin-bottom: 30px;}
