<!DOCTYPE html>
<html>
  <head>
    <title>GreatPlaceToWork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render :partial => "shared/header" %>
      <%= render :partial => "shared/sidebar" %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
