<!DOCTYPE html>
<html>
  <head>
    <title>GreatPlaceToWork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'login_client', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  </head>
<body>
  <% if current_user.present? %>
    <div class="wrapper">
      <%= render :partial => "shared/user/header" %>
      <%= yield %>
      <%= render :partial => "shared/user/footer" %>
    </div>
  <% else %>
    <%= yield %>
  <% end  %>
</body>
</html>
